*{
    margin: 0;
    padding: 0;
    /* animation: fadeInAnimation ease 1s ; */
    /* animation-iteration-count: 1;  */
    /* animation-fill-mode: both; */
    /* scroll-behavior: smooth; */
    /* transition: 1s; */
}
html, body{
    font-family: monospace;
    line-height: 150%;
    background: #000;
}
@keyframes fadeInAnimation{ 
    0%{ 
        opacity: 0;
        margin: 10vh 0 0 0;
    } 
    100%{ 
        opacity: 1;
        margin: 0;
    } 
}
.home, .project{
    /* padding: 10vw; */
}
h1.logo a{
    padding: 10vw 10vw 30vw 10vw;
    font-size: 4vw;
    font-weight: normal;
    display: block;
    color: #fff;

}
h1.logo a span{
    color: #999;
    font-size: 3vw;
    padding: 0;
}
.home h2{
    font-size: 4vw;
    line-height: 150%;
    padding: 10vw;
    font-weight: normal;
    color: #666;
}
.home span, .project span{
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: .5vw;
    display: block;
    font-weight: normal;
    padding: 1vw 0;
    color: #999;
}
.home a, .project a{
    text-decoration: none;
    color: #fff;
}
.home ul{
    list-style: none;
    padding: 0vw 10vw;
}
.home ul li {
    padding: 5vw 0vw;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.home ul li:last-child{
    border: none;
}
.home h3{
    font-size: 5vw;
    padding: 1vw 0;
    font-weight: normal;
}
ul.contact{
    padding: 30vw 10vw;
}
ul.contact li{
    font-size: 4vw;
    padding: 3vw 0;
    border: none;
}
ul.contact li a{
    color: #999;
}
footer {
    padding: 5vw 10vw;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: .2vw;
    color: #999;
    /* background: rgba(0,0,0,.03); */
    border-top: 1px solid rgba(0,0,0,.05);
}



/* project */



.project{
}
.txt {
    padding: 10vw;
}
.txt:first-child{    
}
.txt:last-child{    
}
.txt h2{
    font-size: 5vw;
    font-weight: normal;
    color: #fff;
}
.tit {
    padding: 0 10vw;
}
.tit h3{
    font-size: 7vw;
    font-weight: normal;
    line-height: 180%;
    color: #fff;
}
.txt h4,.txt h5,.txt h6{
    font-size: 5vw;
    font-weight: normal;
    color: #fff;
}
.txt a{
    font-size: 4vw;
    display: block;
    color: #999;
    line-height: 150%;
}
.txt span{
    /* padding: 0vw 0 3vw 0; */
}
.txt p{
    font-size: 4vw;
    padding: 5vw 0 0vw 0;
    line-height: 200%;
    color: #fff;
}
.txt p:last-child{
    padding: 5vw 0vw 0vw 0vw;
}
.img{
    padding: 0 5vw;
}
picture img{
    width: 100%;
    /* background: rgba(0,0,0,.1); */
    border-radius: 1vw;
    /* padding: 5vw 0 0 0; */
}
figcaption{
    font-size: 3.5vw;
    text-align: center;
    padding: 0vw 0 5vw 0;
    color: #999;
}
figcaption:last-child{
    /* padding: 0; */
}
.blockquote{
    padding: 20vw 10vw;
}
.blockquote p{
    font-size: 4vw;
    line-height: 200%;
    padding: 0 0 10vw 0;
    color: #999;
}




/* mobile */
@media screen and (max-width: 768px) {
    body{
        background: hsla(0,0,50,1);
    }
}



/* desktop */
@media screen and (min-width: 1136px) {
    body{
        /* background: red; */
    }
    h1.logo a{
        font-size: .9vw;
        padding: 10vw 33vw;
        line-height: 150%;
        transition: .3s;
    }
    h1.logo a span{
        font-size: .6vw;
        letter-spacing: .2vw;
        padding: .0vw 0;
    }
    h1.logo a:hover{
        /* color: #999; */
        transition: .3s;
    }
    .home h2{
        font-size: .8vw;
        padding: 0vw 33vw 10vw 33vw;
    }
    .home span, .project span{
        font-size: .6vw;
        padding: .0vw 0;
        letter-spacing: .2vw;
    }
    .home h3{
        font-size: 1vw;
        padding: .5vw 0;
    }
    .home ul{
        padding: 0 33vw;;
    }
    .home ul li{
        padding: 2vw 0;
        transition: .3s;
    }
    .home ul li a{
        transition: .3s;
    }
    .home ul li:hover{
        /* color: #999; */
        transition: .5s;
        /* transform: scale(1.1); */
    }
    ul.contact{
        padding: 10vw 33vw;
    }
    ul.contact li{
        font-size: .8vw;
        padding: 1vw 0;
    }
    ul.contact li a:hover{
        transition: .3s;
        color: #fff;
    }
    footer{
        font-size: .5vw;
        letter-spacing: .2vw;
        padding: 5vw 33vw 5vw 33vw;
        /* text-align: center; */
        border: none;
    }

    /*  */

    .txt{
        padding: 3vw 33vw;
    }
    .txt h2{
        font-size: 1vw;
        line-height: 200%;
    }
    .tit h3{
        font-size: 2vw;
        width: 33vw;
        padding: 0 23vw;
    }
    .txt a{
        font-size: .8vw;
        line-height: 200%;
    }
    .txt p{
        font-size: 1vw;
        width: 33vw;
        padding: 2vw 0 0vw 0;
    }
    .txt p:last-child {
        padding: 2vw 0vw 0vw 0vw;
    }
    .txt:last-child {
        padding: 0 33vw 1vw 33vw;
    }
    picture img{
        border-radius: 0vw;
    }
    figcaption{
        font-size: .8vw;
        padding: .5vw 0 5vw 0;
    }
    .txt h4, .txt h5, .txt h6 {
        font-size: 1.2vw;
        line-height: 200%;
    }
    .img{
        /* padding: 0 10vw; */
    }
    .blockquote{
        padding: 10vw 33vw;
    }
    .blockquote p{
        font-size: 1vw;
        /* line-height: 200%; */
        padding: 0 0 5vw 0;
        color: #999;
    }
}



/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    body{
        background: purple;
    }
}



/* landscape */   
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    body{
        background: green;
    }
}