*{
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    font-family: 'Inter', sans-serif;
    background: #000;
    color: #fff;
    scroll-behavior: smooth;
}
body{
}
/* header */
header .logo{
    position: absolute;
    width: 12vw;
    padding: 5vw;
}
header .menu-icon{
    font-size: 7vw;
    line-height: 100%;
    padding: 4vw 5vw;
    right: 0;
    bottom: 0;
    position: fixed;
    color: #fff;
    background: #f00;
    text-decoration: none;
    text-align: center;
}

/* #global */

/* tipografia */
h1{
    font-weight: normal;
}
h2{
}
h3{
}
h4, h5, h6{}
pre, small, figcaption{
    font-size: 3vw;
    line-height: 150%;
    color: #999;
    padding: 2vw 0;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-family: 'Roboto Mono', monospace;
}
figcaption{
    text-align: center;
}
p{
    font-size: 4.5vw;
    line-height: 160%;
    padding: 5vw 0 5vw 0;
    /* font-family: 'Roboto Mono', monospace; */
}
/* video img */
video, picture, img, iframe{
    width: 100%;
}
iframe{
    height: 50vw;
}
/* list */
ul{}
ul li{
    padding: 2vw 0;
    list-style: none;
}
ul li a{
    color: #fff;
    text-decoration: none;
}
/* layout */
.content{
    padding: 0 10vw;
}

/* #home */

/* intro */
.intro{
    padding: 50vw 0 20vw 0;
}
#home .intro h1{
    font-size: 6vw;
    /* font-weight: normal; */
}
.intro small i{
    font-style: normal;
}
/* projects list */
.projects-list{
}
.projects-list h2{
    font-size: 6vw;
}
/* contact */
.contact{
    padding: 30vw 0;
}
.contact ul li{
    font-size: 4vw;
    /* font-family: 'Roboto Mono', monospace; */
    padding: 3vw 0;
}
/* footer */
footer{
    color: #999;
    font-size: .7em;
    padding: 10vw;
}

/* #project */

#project .intro{
    padding: 50vw 0 10vw 0;
}
#project .intro h1{
    font-size: 6vw;
}
#project h2{
    font-size: 10vw;
}
.links{
    padding: 10vw 0;
}
.links a{
    font-size: 4.5vw;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 1vw 0;
}
/* info */
.info{
    padding: 0vw 0 0vw 0;
}
.info .txt{
    padding: 10vw;
}
.info .txt:last-child{
    padding: 0vw 10vw 10vw 10vw;
    /* background: #f00; */
}
.info p:last-child{
    padding: 5vw 0 0vw 0;
}
/* process */
.process{
}
.process .txt{
    padding: 10vw;
}
.process p{
    padding: 10vw 15vw;
    color: #fff;
    /* font-family: 'Roboto Mono', monospace; */
    /* font-size: 5vw; */
}
.process h3{
    font-size: 8vw;
}
.process .media{
    padding: 0 5vw;
    display: block;
}
.process .media img, .process .media video{
    border-radius: 1vw;
}
.process figcaption{
    padding: 0 0 5vw 0;
}
/* next projext */
.next-project{
    padding: 20vw 10vw 0vw 10vw;
    /* margin: 20vw 0; */
}
.next-project a{
    text-decoration: none;
}
.next-project pre{
    line-height: 150%;
    color: #000;
    background: #fff;
    display: block;
    padding: 0;
    margin: 0 0 5vw 0;
    width: 44vw;
    text-align: center;
}
.next-project h6{
    font-size: 10vw;
    color: #fff;
}

/* mobile */
@media screen and (max-width: 767px) {
    body{
        background: #000;
    }
    /*  */
    .intro small i{
        opacity: 0;
    }
}

/* desktop */
@media all and (min-width: 1025px) and (max-width: 1920px) {
    body{
        background: #000;
    }
    /* header */
    header .logo{
        width: 3vw;
        padding: 1vw;
        position: fixed;
    }
    header .menu-icon{
        font-size: 2vw;
        padding: .5vw 1vw;
    }
    /* #global */
    /* tipografia */
    h1{
    }
    h2{
    }
    h3{
    }
    h4, h5, h6{}
    pre, small, figcaption{
        font-size: .8vw;
        letter-spacing: .2vw;
        padding: 1vw 0;
    }
    figcaption{
    }
    p{
        font-size: 1.2vw;
        padding: 1vw 0;
    }
    /* video img */
    video, picture, img, iframe{
    }
    iframe{
    }
    /* list */
    ul{}
    ul li{
        padding: 3vw 0;
    }
    ul li a{
    }
    /* layout */
    .content{
    }
    /* #home */
    /* intro */
    .intro{
        padding: 5vw 0 10vw 0;
    }
    #home .intro h1{
        font-size: 3vw;
        font-weight: bold;
    }
    #home .intro pre{
        font-size: .6vw;
    }
    #home .intro small{
        font-size: .8vw;
    }
    .intro small i{
    }
    /* projects list */
    .projects-list{
    }
    .projects-list h2{
        font-size: 8vw;
    }
    .projects-list h2:hover{
        color: aqua;
    }
    /* contact */
    .contact{
        padding: 10vw 0 5vw 0;
    }
    .contact ul li{
        font-size: 1vw;
        padding: 1vw 0;
    }
    .contact li a:hover{
        color: aqua;
    }
    /* footer */
    footer{
    }
    /* #project */
    #project .intro{
        padding: 5vw 0 4vw 0;
    }
    #project .intro h1{
        font-size: 3vw;
        font-weight: bold;
    }
    #project h2{
        font-size: 5vw;
        width: 50vw;
    }
    .links{
        padding: 5vw 0;
    }
    .links a{
        font-size: 1vw;
        padding: .3vw 0;
    }
    .links a:hover{
        color: aqua;
    }
    /* info */
    .info{
        padding: 0 0 5vw 0;
    }
    .info .txt{
        padding: 5vw 33vw 3vw 33vw;
    }
    .info .txt:last-child{
        padding: 0 33vw;
    }
    .info p:last-child{
        padding: 1vw 0 0 0;
    }
    /* process */
    .process{
        padding: 0vw 0 0vw 0;
    }
    .process .txt{
        padding: 5vw 20vw 5vw 20vw;
    }
    .process p{
        padding: 5vw 33vw;
        font-size: 1.5vw;
        color: #999;
    }
    .process h3{
        font-size: 3vw;
        width: 30vw;
    }
    .process .media{
        padding: 0 15vw;
    }
    .process .media img, .process .media video{
        border-radius: .2vw;
    }
    .process figcaption{
    }
    /* next projext */
    .next-project{
        padding: 15vw 10vw 5vw 10vw;
    }
    .next-project a{
    }
    .next-project h6:hover{
        color: aqua;
    }
    .next-project pre{
        width: 11vw;
        margin: 0 0 1vw 0;
    }
    .next-project h6{
        font-size: 5vw;
    }
}

/* tablet */
@media all and (min-width: 768px) and (max-width: 1024px) {
    body{
        background: #000;
    }

    /* header */
    header .logo{
        width: 8vw;
    }
    header .menu-icon{
        font-size: 5vw;
        padding: 2vw 3vw;
    }

    /* #global */

    /* tipografia */
    h1{
    }
    h2{
    }
    h3{
    }
    h4, h5, h6{}
    pre, small, figcaption{
        font-size: 1.5vw;
        letter-spacing: .5vw;
    }
    figcaption{
    }
    p{
    }
    /* video img */
    video, picture, img, iframe{
    }
    iframe{
    }
    /* list */
    ul{}
    ul li{
        padding: 3vw 0;
    }
    ul li a{
    }
    /* layout */
    .content{
    }

    /* #home */

    /* intro */
    .intro{
        padding: 40vw 0 20vw 0;
    }
    #home .intro h1{
    }
    .intro small i{
        opacity: 1;
    }
    /* projects list */
    .projects-list{
    }
    .projects-list h2{
    }
    /* contact */
    .contact{
        padding: 20vw 0;
    }
    .contact ul li{
        font-size: 2vw;
        padding: 2vw 0;
    }
    /* footer */
    footer{
    }

    /* #project */

    #project .intro{
    }
    #project .intro h1{
    }
    #project h2{
    }
    .links{
    }
    .links a{
    }
    /* info */
    .info{
    }
    .info .txt{
    }
    .info .txt:last-child{
    }
    .info p:last-child{
    }
    /* process */
    .process{
    }
    .process .txt{
    }
    .process p{
    }
    .process h3{
    }
    .process .media{
    }
    .process .media img, .process .media video{
    }
    .process figcaption{
    }
    /* next projext */
    .next-project{
    }
    .next-project a{
    }
    .next-project pre{
    }
    .next-project h6{
    }
}

/* landscape */   
@media screen and (min-width: 320px) and (max-width: 1024px) and (orientation: landscape) {
    body{
        background: #000;
    }

    /* header */
    header .logo{
        width: 6vw;
    }
    header .menu-icon{
        font-size: 2vw;
        padding: 1.5vw 2vw;
    }

    /* #global */

    /* tipografia */
    h1{
    }
    h2{
    }
    h3{
    }
    h4, h5, h6{}
    pre, small, figcaption{
        font-size: 1vw;
        letter-spacing: .5vw;
    }
    figcaption{
    }
    p{
    }
    /* video img */
    video, picture, img, iframe{
    }
    iframe{
    }
    /* list */
    ul{}
    ul li{
    }
    ul li a{
    }
    /* layout */
    .content{
    }

    /* #home */

    /* intro */
    .intro{
        padding: 30vw 0 10vw 0;
    }
    #home .intro h1{
        font-weight: bold;
    }
    .intro small i{
        opacity: 1;
    }
    /* projects list */
    .projects-list{
    }
    .projects-list h2{
    }
    /* contact */
    .contact{
        padding: 10vw 0;
    }
    .contact ul li{
        font-size: 2vw;
        padding: 2vw 0;
    }
    /* footer */
    footer{
    }

    /* #project */

    #project .intro{
    }
    #project .intro h1{
    }
    #project h2{
    }
    .links{
    }
    .links a{
    }
    /* info */
    .info{
    }
    .info .txt{
    }
    .info .txt:last-child{
    }
    .info p:last-child{
    }
    /* process */
    .process{
    }
    .process .txt{
    }
    .process p{
    }
    .process h3{
    }
    .process .media{
    }
    .process .media img, .process .media video{
    }
    .process figcaption{
    }
    /* next projext */
    .next-project{
    }
    .next-project a{
    }
    .next-project pre{
    }
    .next-project h6{
    }
}