*{
    padding: 0;
    margin: 0;
    border: 0;
}
html{
    font-family: 'Inter', sans-serif;
    background: #000;
    color: #fff;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
}
/* header */
header .logo{
    position: absolute;
    width: 12vw;
    padding: 5vw;
}
header .menu-icon{
    font-size: 7vw;
    line-height: 100%;
    padding: 4vw 5vw;
    right: 0;
    bottom: 0;
    position: fixed;
    color: #fff;
    background: #f00;
    text-decoration: none;
    text-align: center;
}

/* #global */

/* tipografia */
h1{
    font-size: 6vw;
}
h2{
}
h3{
}
h5, h6{}
pre, small, figcaption, em, h4{
    font-size: 3vw;
    line-height: 150%;
    color: #999;
    padding: 2vw 0;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
}
figcaption{
    font-size: 2.5vw;
    letter-spacing: .5vw;
    text-align: center;
}
p{
    font-size: 4vw;
    line-height: 160%;
    padding: 3vw 0 3vw 0;
}
/* list */
ul{}
ul li{
    padding: 2vw 0;
    list-style: none;
}
ul li a{
    color: #fff;
    text-decoration: none;
}
/* content */
.tit{
    padding: 10vw;
}
.sub-tit{
    padding: 0 10vw;
}
.txt{
    padding: 0 10vw;
}
/* links */
.links{
    padding: 10vw;   
}
.links a{
    font-size: 5vw;
    line-height: 150%;
    display: block;
    text-decoration: none;
    color: #fff;
}
/* video img */
video, picture, img, iframe{
    width: 100%;
}
iframe{
    height: 50vw;
}
.media{
    padding: 0 5vw;
}

/*  */

/* #home */
#home{
}
/* intro */
.intro .tit{
    padding: 50vw 10vw 10vw 10vw;
}
#home h2{
    font-size: 5vw;
    font-weight: normal;
    line-height: 150%;
}
/* project list */
.projects-list{
    padding: 10vw;
}
.projects-list h3{
    font-size: 6vw;
}

/*  */

/* #project case */
#project{}
#project .sub-tit h2{
    font-size: 10vw;
}
/* info */
.info{
    padding: 10vw 0 5vw 0;
}
.info .txt{
    padding: 0vw 10vw 5vw 10vw;
}
/* process */
.process{}
.process .tit h3{
    font-size: 8vw;
}
.process .desc{
    padding: 20vw 0 10vw 0;
}
.desc .txt{
    padding: 0 10vw 5vw 10vw;
}

/*  */


/* next projext */
.next-project{
    padding: 20vw 10vw 0vw 10vw;
    /* margin: 20vw 0; */
}
.next-project a{
    text-decoration: none;
}
.next-project pre{
    line-height: 150%;
    color: #000;
    background: #fff;
    display: block;
    padding: 0;
    margin: 0 0 5vw 0;
    width: 44vw;
    text-align: center;
}
.next-project h6{
    font-size: 10vw;
    color: #fff;
}

/* contact */
.contact{
    padding: 10vw;
}

/*  */

/* footer */
footer{
    color: #999;
    font-size: .8em;
    padding: 10vw;
}




/* mobile */
@media screen and (max-width: 767px) {
    body{
        background: #000;
    }
    /*  */
    .intro small i{
        opacity: 0;
    }
}

/* desktop */
@media all and (min-width: 1025px) and (max-width: 1920px) {
    body{
        background: #000;
    }
    /* header */
    header .logo{
        width: 2.5vw;
        padding: 1vw;
        position: fixed;
    }
    header .menu-icon{
        font-size: 2vw;
        padding: .5vw 1vw;
    }

    /* next projext */
    .next-project{
        padding: 15vw 10vw 5vw 10vw;
    }
    .next-project a{
    }
    .next-project h6:hover{
        color: aqua;
    }
    .next-project pre{
        width: 11vw;
        margin: 0 0 1vw 0;
    }
    .next-project h6{
        font-size: 5vw;
    }
}

/* tablet */
@media all and (min-width: 768px) and (max-width: 1024px) {
    body{
        background: #000;
    }
    /* header */
    header .logo{
        width: 8vw;
    }
    header .menu-icon{
        font-size: 5vw;
        padding: 2vw 3vw;
    }
}

/* landscape */   
@media screen and (min-width: 320px) and (max-width: 1024px) and (orientation: landscape) {
    body{
        background: #000;
    }

    /* header */
    header .logo{
        width: 6vw;
    }
    header .menu-icon{
        font-size: 2vw;
        padding: 1.5vw 2vw;
    }

}