[Desktop Entry]
Name[de]=Curtail
Name[es]=Curtail
Name[fr]=Curtail
Name[gl]=Curtail
Name[hr]=Curtail
Name[it]=Curtail
Name[ko]=Curtail
Name[nl]=Curtail
Name[pl]=Curtail
Name[pt_BR]=Curtail
Name[ru]=Curtail
Name[sv]=Curtail
Name[tr]=Curtail
Name=Curtail
Exec=curtail %U
Comment[de]=Komprimieren Ihrer Bilder
Comment[es]=Comprima sus imágenes
Comment[fr]=Compresser vos images
Comment[gl]=Comprima as súas imaxes
Comment[hr]=Komprimiraj slike
Comment[ko]=사용자의 이미지를 압축합니다
Comment[nl]=Pas compressie toe op uw afbeeldingen
Comment[pl]=Kompresuj zdjęcia
Comment[pt_BR]=Comprima suas imagens
Comment[ru]=Сжатие изображений
Comment[sk]=Komprimujte svoje obrázky
Comment[sv]=Komprimera dina bilder
Comment[tr]=Görüntülerinizi sıkıştırın
Comment=Compress your images
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;
# Icon name, do not translate
Icon=com.github.huluti.Curtail
StartupWMClass=curtail
MimeType=image/jpeg;image/png;
StartupNotify=true
