[Desktop Entry]
Name[ab]=Амикрофон
Name[ar]=ميكروفون
Name[be]=Мікрафон
Name[bg]=Микрофон
Name[bn_IN]=মাইক
Name[ca]=Micròfon
Name[ckb]=مایکرۆفۆن
Name[cs]=Mikrofon
Name[da]=Mikrofon
Name[de]=Mikrofon
Name[el]=Μικρόφωνο
Name[en_GB]=Microphone
Name[eo]=Mikrofono
Name[es]=Micrófono
Name[eu]=Mikrofonoa
Name[fa]=میکروفون
Name[fi]=Mikrofoni
Name[fr]=Micro
Name[fur]=Microfon
Name[gl]=Micrófono
Name[he]=מיקרופון
Name[hr]=Mikrofon
Name[hu]=Mikrofon
Name[id]=Mikrofon
Name[ie]=Microfon
Name[is]=Hljóðnemi
Name[it]=Microfono
Name[ja]=マイク
Name[ka]=მიკროფონი
Name[kab]=Asawaḍ
Name[kk]=Микрофон
Name[ko]=마이크
Name[lt]=Mikrofonas
Name[lv]=Mikrofons
Name[mjw]=Microphone
Name[ms]=Mikrofon
Name[nb]=Mikrofon
Name[ne]=माईक्रोफोन
Name[nl]=Microfoon
Name[oc]=Micrò
Name[pa]=ਮਾਈਕਰੋਫੋਨ
Name[pl]=Mikrofon
Name[pt]=Microfone
Name[pt_BR]=Microfone
Name[ro]=Microfon
Name[ru]=Микрофон
Name[sk]=Mikrofón
Name[sl]=Mikrofon
Name[sr]=Микрофон
Name[sv]=Mikrofon
Name[tr]=Mikrofon
Name[uk]=Мікрофон
Name[vi]=Micrô
Name[zh_CN]=麦克风
Name[zh_TW]=麥克風
Name=Microphone
Comment[be]=Абараніце свае размовы
Comment[bg]=Защита на разговорите
Comment[bn_IN]=আপনার কথোপকথন রক্ষা করুন
Comment[ca]=Protegiu les vostres converses
Comment[cs]=Ochránit své konverzace
Comment[da]=Beskyt dine samtaler
Comment[de]=Ihre Unterhaltungen schützen
Comment[el]=Προστατέψτε τις συνομιλίες σας
Comment[en_GB]=Protect your conversations
Comment[eo]=Protekti viajn konversaciojn
Comment[es]=Proteger sus conversaciones
Comment[eu]=Babestu zure hizketaldiak
Comment[fa]=محافظت از گفت‌وگوهایتان
Comment[fi]=Suojaa keskustelusi
Comment[fur]=Protêç lis tôs conversazions
Comment[gl]=Protexa as túas conversas
Comment[he]=הגנה על השיחות שלך
Comment[hr]=Zaštitite svoje razgovore
Comment[hu]=A beszélgetései védelme
Comment[id]=Lindungi percakapan Anda
Comment[is]=Verndaðu samskiptin þín
Comment[it]=Proteggere le proprie conversazioni
Comment[ja]=会話を保護します
Comment[kk]=Сөйлесулерді қорғау
Comment[ko]=대화를 보호합니다
Comment[lt]=Apsaugokite savo pokalbius
Comment[lv]=Aizsargāt savas sarunas
Comment[ms]=Lindungi perbualan anda
Comment[nb]=Beskytt samtalene dine
Comment[ne]=तपाईँको वार्तालाप सुरक्षित गर्नुहोस्
Comment[nl]=Bescherm uw gesprekken
Comment[oc]=Protegir vòstras conversacions
Comment[pa]=ਤਹਾਡੀਆਂ ਗੱਲਾਂਬਾਤਾਂ ਸੁਰੱਖਿਅਤ ਕਰੋ
Comment[pl]=Ochrona rozmów
Comment[pt]=Proteja as suas conversas
Comment[pt_BR]=Projeta suas conversas
Comment[ro]=Protejați conversațiile
Comment[ru]=Защитите ваш обмен сообщениями
Comment[sk]=Ochráňte vaše konverzácie
Comment[sl]=Zaščita pogovorov
Comment[sr]=Заштитите ваше разговоре
Comment[sv]=Skydda dina konversationer
Comment[tr]=Konuşmalarınızı koruyun
Comment[uk]=Захистіть ваш обмін повідомленнями
Comment[vi]=Bảo vệ các cuộc chuyện trò của bạn
Comment[zh_CN]=保护对话
Comment[zh_TW]=保護您的對話
Comment=Protect your conversations
Exec=gnome-control-center microphone
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-microphone-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=privacy
X-GNOME-Bugzilla-Version=43.5
# Translators: Search terms to find the Microphone panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=мікрафон;запіс;праграма;прыватнасць;
Keywords[bg]=микрофон;запис;програма;приложение;защита;лични;данни;microphone;recording;application;privacy;
Keywords[ca]=micròfon;enregistrament;aplicació;privadesa;
Keywords[cs]=mikrofon;nahrávání;nahrávka;záznam;aplikace;soukromí;
Keywords[da]=mikrofon;optagelse;program;privatliv;
Keywords[de]=microphone;recording;application;privacy;Mikrofon;Mikrophon;Aufnahme;Anwendung;Programm;Datenschutz;
Keywords[en_GB]=microphone;recording;application;privacy;
Keywords[es]=micrófono;grabación;privado;privacidad;
Keywords[eu]=mikrofonoa;grabazioa;aplikazioa;pribatutasuna;
Keywords[fa]=microphone;recording;application;privacy;میکروفون;ضبط;برنامه;محرمانگی;حریم شخصی;خصوصی;
Keywords[fi]=microphone;recording;application;privacy;mikrofoni;nauhoitus;tallennus;sovellus;yksityisyys;tietosuoja;
Keywords[fr]=microphone;enregistrement;application;confidentialité;vie privée;
Keywords[fur]=microfon;regjistrazion;aplicazion;riservatece;privacy;
Keywords[gl]=micrófono;gravación;aplicación;privacidade;
Keywords[he]=מיקרופון;הקלטה;יישום;פרטיות;
Keywords[hr]=mikrofon;snimanje;aplikacija;privatnost;
Keywords[hu]=mikrofon;felvétel;alkalmazás;adatvédelem;
Keywords[id]=mikrofon;rekaman;aplikasi;privasi;
Keywords[is]=hljóðnemi;upptaka;forrit;gagnaleynd;
Keywords[kk]=microphone;recording;application;privacy;микрофон;жазу;қолданба;жекелік;
Keywords[ko]=microphone;마이크;recording;녹음;application;privacy;개인;정보;사생활;프라이버시;보호;
Keywords[lt]=mikrofonas,įrašymas;programa;privatumas;
Keywords[lv]=mikrofons;ierakstīšana;lietotne;privātums;
Keywords[ne]=माइक्रोफोन;रेकर्डिङ;अनुप्रयोग;गोपनीयता;
Keywords[nl]=microphone;recording;application;privacy;microfoon;opname;opnemen;toepassing;
Keywords[oc]=microfòn;enregistrament;aplicacion;confidencialitat;
Keywords[pa]=ਮਾਈਕਰੋਫੋਨ;ਮਾਈਕ੍ਰੋਫ਼ੋਨ;ਮਾਈਕਰੋਫ਼ੋਨ;ਐਪਲੀਕੇਸ਼ਨ,;ਪਰਦੇਦਾਰੀ;ਪ੍ਰਾਈਵੇਸੀ;
Keywords[pl]=mikrofon;nagrywanie;nagraj;prywatność;
Keywords[pt]=microfone;gravação;aplicação;privacidade;
Keywords[pt_BR]=microfone;gravação;aplicação;privacidade;
Keywords[ru]=микрофон;запись;приложение;конфиденциальность;
Keywords[sk]=mikrofón;nahrávanie;záznam;zaznamenávanie;aplikácia;súkromie;
Keywords[sl]=mikrofon;snemanje;aplikacija;zasebnost;
Keywords[sr]=микрофон;снимање;програм;апликација;приватност;microphone;recording;application;privacy;
Keywords[sv]=mikrofon;inspelning;program;sekretess;integritet;
Keywords[tr]=mikrofon;kayıt;kaydetme;uygulama;gizlilik;
Keywords[uk]=microphone;recording;application;privacy;мікрофон;запис;записування;програма;конфіденційність;приватність;приватний;
Keywords[zh_CN]=microphone;recording;application;privacy;麦克风;话筒;录制;应用程序;隐私;
Keywords[zh_TW]=microphone;recording;application;privacy;麥克風;錄音;應用程式;隱私權;
Keywords=microphone;recording;application;privacy;
