[Desktop Entry]
Name[ab]=Шәахьыҟоу аҭыԥ асервисқаә
Name[af]=Liggingdienste
Name[ar]=خدمات التموضع
Name[be]=Сэрвісы месцазнаходжання
Name[bg]=Услуги за местоположение
Name[bn_IN]=অবস্থান পরিষেবা
Name[ca]=Serveis d'ubicació
Name[ca@valencia]=Serveis d'ubicació
Name[ckb]=خزمەتگوزارییەکانی شوێن
Name[cs]=Služby určování polohy
Name[da]=Placeringstjenester
Name[de]=Ortungsdienste
Name[el]=Υπηρεσίες τοποθεσίας
Name[en_GB]=Location Services
Name[eo]=Lokado-servoj
Name[es]=Servicios de ubicación
Name[eu]=Kokalekuaren zerbitzuak
Name[fa]=خدمات مکان‌یابی
Name[fi]=Sijaintipalvelut
Name[fr]=Services de localisation
Name[fur]=Servizis su la posizion
Name[gd]=Seirbheisean ionaid
Name[gl]=Servizos de localización
Name[he]=שירותי איכון
Name[hr]=Usluge lociranja
Name[hu]=Helymeghatározó szolgáltatások
Name[id]=Layanan Lokasi
Name[ie]=Servicies de localisation
Name[is]=Staðsetningarþjónustur
Name[it]=Servizi di localizzazione
Name[ja]=位置情報サービス
Name[ka]=მდებარეობის სერვისები
Name[kab]=Imeẓla n wadig
Name[kk]=Орналасулар қызметі
Name[ko]=위치 서비스
Name[lt]=Vietos tarnybos
Name[lv]=Atrašanās vietas pakalpojumi
Name[ms]=Perkhidmatan Lokasi
Name[nb]=Stedstjenester
Name[ne]=स्थान सेवाहरू
Name[nl]=Locatiediensten
Name[oc]=Servicis de localizacion
Name[pa]=ਟਿਕਾਣਾ ਸੇਵਾਵਾਂ
Name[pl]=Usługi położenia
Name[pt]=Serviços de localização
Name[pt_BR]=Serviços de localização
Name[ro]=Servicii de locație
Name[ru]=Сервисы местоположения
Name[sk]=Služby umiestnenia
Name[sl]=Storitve določanja položaja
Name[sr]=Услуге места
Name[sr@latin]=Usluge mesta
Name[sv]=Platstjänster
Name[th]=บริการตำแหน่งที่ตั้ง
Name[tr]=Konum Hizmetleri
Name[uk]=Служби розташування
Name[vi]=Dịch vụ vị trí
Name[zh_CN]=定位服务
Name[zh_TW]=定位服務
Name=Location Services
Comment[be]=Абараніце звесткі пра сваё месцазнаходжанне
Comment[bg]=Защита на местоположението
Comment[bn_IN]=আপনার অবস্থানের তথ্য রক্ষা করুন
Comment[ca]=Protegiu la vostra informació d'ubicació
Comment[cs]=Ochraňte informace o své poloze
Comment[da]=Beskyt din placeringsinformation
Comment[de]=Ihre Standortinformationen schützen
Comment[el]=Προστατέψτε τις πληροφορίες τοποθεσίας σας
Comment[en_GB]=Protect your location information
Comment[eo]=Protekti viajn lokajn informojn
Comment[es]=Proteger la información sobre su ubicación
Comment[eu]=Babestu zure kokalekuaren informazioa
Comment[fa]=محافظت از اطّلاعات مکانتان
Comment[fi]=Suojaa sijaintitietoasi
Comment[fur]=Protêç lis informazion su la tô posizion
Comment[gl]=Protexer a súa información de localización
Comment[he]=הגנה על פרטי המיקום שלך
Comment[hr]=Zaštite informacije vaše lokacije
Comment[hu]=A helyadatai védelme
Comment[id]=Lindungi informasi lokasi Anda
Comment[is]=Verndaðu upplýsingar um staðsetningu þína
Comment[it]=Proteggere le informazioni sulla posizione
Comment[ja]=位置情報を保護します
Comment[ka]=თქვენი მდებარეობის ინფორმაციის დაცვა
Comment[kk]=Орналасу ақпаратын қорғау
Comment[ko]=위치 정보를 보호합니다
Comment[lt]=Apsaugoti savo vietos informaciją
Comment[lv]=Aizsargājiet savu atrašanās vietu
Comment[ms]=Lindungi maklumat lokasi anda
Comment[nb]=Beskytt din stedsinformasjon
Comment[ne]=तपाईँको स्थान जानकारि सुरक्षित गर्नुहोस्
Comment[nl]=Beveilig uw locatie-informatie
Comment[oc]=Protegir vòstras informacions de localizacion
Comment[pa]=ਆਪਣੀ ਟਿਕਾਣਾ ਜਾਣਕਾਰੀ ਸੁਰੱਖਿਅਤ ਕਰੋ
Comment[pl]=Ochrona informacji o położeniu użytkownika
Comment[pt]=Proteger os seus dados de localização
Comment[pt_BR]=Proteja suas informações de localização
Comment[ro]=Protejați informațiile de locație
Comment[ru]=Защитите вашу информацию о местоположении
Comment[sk]=Ochráňte informácie o vašom umiestnení
Comment[sl]=Zaščitite podrobnosti o trenutnem mestu
Comment[sr]=Заштитите ваше податке о месту становања
Comment[sv]=Skydda din platsinformation
Comment[tr]=Konum bilginizi koruyun
Comment[uk]=Захистіть ваші дані щодо місця перебування
Comment[vi]=Bảo vệ thông tin vị trí của bạn
Comment[zh_CN]=保护您的位置信息
Comment[zh_TW]=保護您的位置資訊
Comment=Protect your location information
Exec=gnome-control-center location
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-location-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=privacy
X-GNOME-Bugzilla-Version=43.5
# Translators: Search terms to find the Location panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=месцазнаходжанне;gps;прыватнасць;канфідэнцыяльнасць;;
Keywords[bg]=местоположение;защита;лични;данни;location;gps;private;privacy;
Keywords[ca]=ubicació;gps;privat;privadesa;
Keywords[cs]=místo;poloha;pozice;gps;galileo;glonass;gnss;soukromí;
Keywords[da]=placering;sted;lokation;gps;privat;privatliv;
Keywords[de]=location;gps;private;privacy;Ort;Standort;GPS;privat;Datenschutz;
Keywords[en_GB]=location;gps;private;privacy;
Keywords[es]=ubicación;gps;privado;privacidad;
Keywords[eu]=kokalekua;gps;pribatua;pribatutasuna;
Keywords[fa]=location;gps;private;privacy;مکان;موقعیت;خصوصی;محرمانگی;حریم شخصی;
Keywords[fi]=location;gps;private;privacy;sijainti;yksityisyys;tietosuoja;
Keywords[fr]=localisation;géolocalisation;emplacement;gps;privé;vie privée;confidentialité;
Keywords[fur]=posizion;gps;privât;riservatece;privacy;
Keywords[gl]=localización;gps;privado;privacidade;
Keywords[he]=מיקום;gps;GPS;פרטיות;איכון;ג'י פי אס;
Keywords[hr]=lokacija;gps;privatno;privatnost;
Keywords[hu]=hely;gps;személyes;adatvédelem;
Keywords[id]=lokasi;gps;pribadi;privasi;
Keywords[is]=staðsetning;gps;gagnaleynd;friðhelgi;
Keywords[kk]=location;gps;private;privacy;орналасу;жеке;жекелік;
Keywords[ko]=location;위치;좌표;gps;private;privacy;개인;정보;사생활;프라이버시;보호;
Keywords[lt]=vieta;gps;privatus;privatumas;
Keywords[lv]=vieta;lokācija;gps;privāts;privātums;
Keywords[ne]=स्थान;जीपीएस;निजी;गोपनीयता;
Keywords[nl]=location;gps;private;privacy;locatie;privé;
Keywords[oc]=localizacion;gps;privat;confidencialitat;
Keywords[pa]=ਟਿਕਾਣਾ;ਥਾਂ;ਲੋਕੇਸ਼ਨ;ਜੀਪੀਐਸ;ਪ੍ਰਾਈਵੇਟ;ਨਿੱਜੀ;ਪਰਦੇਦਾਰੀ;ਪਰਾਈਵੇਸੀ;
Keywords[pl]=położenie;geograficzne;miejsce;lokacja;lokalizacja;geolokalizacja;GPS;GNSS;GLONASS;Galileo;IRNSS;BDS;BeiDou;GeoClue;geocode;prywatne;prywatność;
Keywords[pt]=localização;gps;privado;privacidade;
Keywords[pt_BR]=localização;gps;privado;privacidade;
Keywords[ru]=местоположение;gps;частное;конфиденциальность;
Keywords[sk]=umiestnenie;lokalita;gps;súkromie;súkromný;
Keywords[sl]=location;gps;private;privacy;lokacija;mesto;zasebnost;osebno;satelit;
Keywords[sr]=место;локација;џпс;гпс;приватно;приватност;location;gps;private;privacy;
Keywords[sv]=plats;gps;privat;sekretess;integritet;
Keywords[tr]=konum;lokasyon;gps;özel;gizlilik;
Keywords[uk]=location;gps;private;privacy;місце;перебування;конфіденційність;приватність;приватний
Keywords[zh_CN]=location;gps;private;privacy;位置;定位;私人;隐私;
Keywords[zh_TW]=location;gps;private;privacy;定位;隱私權;衛星定位;位置;地理;
Keywords=location;gps;private;privacy;
