[Desktop Entry]
Name[ab]=Адиагностика
Name[be]=Дыягностыка
Name[bg]=Диагностика
Name[bn_IN]=নিদানবিদ্যা
Name[ca]=Diagnòstics
Name[cs]=Diagnostiky
Name[da]=Diagnostik
Name[de]=Fehlerdiagnose
Name[el]=Διαγνωστικά
Name[en_GB]=Diagnostics
Name[eo]=Diagnozo
Name[es]=Diagnósticos
Name[eu]=Diagnostikoa
Name[fa]=عیب‌یابی
Name[fi]=Diagnostiikka
Name[fr]=Diagnostics
Name[fur]=Diagnostiche
Name[gl]=Diagnóstico
Name[he]=אבחון
Name[hr]=Dijagnostika
Name[hu]=Diagnosztika
Name[id]=Diagnostik
Name[ie]=Diagnostica
Name[is]=Greining vandamála
Name[it]=Diagnostica
Name[ja]=診断
Name[ka]=დიაგნოსტიკა
Name[kk]=Диагностика
Name[ko]=진단
Name[lt]=Diagnostika
Name[lv]=Diagnostika
Name[ms]=Diagnostik
Name[nb]=Diagnostikk
Name[ne]=निदान
Name[nl]=Bevindingen
Name[oc]=Diagnostics
Name[pa]=ਪੜਤਾਲ
Name[pl]=Diagnostyka
Name[pt]=Diagnósticos
Name[pt_BR]=Diagnóstico
Name[ro]=Diagnostice
Name[ru]=Диагностика
Name[sk]=Diagnostika
Name[sl]=Diagnostika napak
Name[sr]=Дијагностика
Name[sv]=Diagnostik
Name[tr]=Tanılama
Name[uk]=Діагностика
Name[vi]=Chẩn đoán
Name[zh_CN]=诊断
Name[zh_TW]=診斷
Name=Diagnostics
Comment[be]=Паведаміць аб праблеме
Comment[bg]=Докладвайте проблем
Comment[bn_IN]=আপনার সমস্যা রিপোর্ট করুন
Comment[ca]=Informeu de problemes
Comment[cs]=Nahlásit problémy
Comment[da]=Rapportér dine problemer
Comment[de]=Melden Sie Ihre Probleme
Comment[el]=Αναφορά των προβλημάτων σας
Comment[en_GB]=Report your problems
Comment[eo]=Raporti viajn problemojn
Comment[es]=Informar de problemas
Comment[eu]=Eman zure arazoen berri
Comment[fa]=گزارش مشکلاتتان
Comment[fi]=Ilmoita ongelmista
Comment[fur]=Segnale i problemis
Comment[gl]=Informar os seus erros
Comment[he]=דיווח על בעיות
Comment[hr]=Prijavite svoje probleme
Comment[hu]=Problémák bejelentése
Comment[id]=Laporkan masalah Anda
Comment[ie]=Raportar vor problemas
Comment[is]=Tilkynntu vandamál
Comment[it]=Segnala il problema
Comment[ja]=問題を報告します
Comment[ka]=პრობლემის შესახებ შეტყობინება
Comment[kk]=Мәселелер туралы хабарлау
Comment[ko]=문제점 보고하기
Comment[lt]=Pranešti apie jūsų problemas
Comment[lv]=Ziņot par problēmām
Comment[ms]=Lapor masalah anda
Comment[nb]=Rapporter problemene dine
Comment[ne]=तपाईँको समस्याहरू प्रतिवेदन गर्नुहोस्
Comment[nl]=Meld uw problemen
Comment[oc]=Senhalar vòstres problèmas
Comment[pa]=ਆਪਣੀਆਂ ਸਮੱਸਿਆਵਾ ਬਾਰੇ ਰਿਪੋਰਟ ਦਿਓ
Comment[pl]=Zgłaszanie problemów
Comment[pt]=Relate os seus problemas
Comment[pt_BR]=Relate seus problemas
Comment[ro]=Raportați problemele
Comment[ru]=Сообщить об ошибках
Comment[sk]=Nahláste vaše problémy
Comment[sl]=Pošiljajte poročila o težavah
Comment[sr]=Пријавите ваше проблеме
Comment[sv]=Rapportera dina problem
Comment[tr]=Sorunları raporla
Comment[uk]=Повідомити про помилки
Comment[vi]=Báo cáo vấn đề trục trặc của bạn
Comment[zh_CN]=报告问题
Comment[zh_TW]=回報您遇到的問題
Comment=Report your problems
Exec=gnome-control-center diagnostics
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-diagnostics-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=privacy
X-GNOME-Bugzilla-Version=43.5
# Translators: Search terms to find the Diagnostics panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=дыягностыка;збой;
Keywords[bg]=диагностика;забиване;блокиране;diagnostics;crash;
Keywords[ca]=diagnòstics;fallada;
Keywords[cs]=diagnostika;diagnostiky;zhroucení;pád;
Keywords[da]=diagnostik;nedbrud;crash;
Keywords[de]=diagnostics;crash;Fehlerdiagnose;Absturz;
Keywords[en_GB]=diagnostics;crash;
Keywords[es]=diagnósticos;fallo;error;crash;
Keywords[eu]=diagnostikoak;kraskadura;
Keywords[fa]=diagnostics;crash;تشخیص;عیب‌یابی;فروپاشی;
Keywords[fi]=diagnostics;crash;diagnostiikka;vianselvitys;kaatuminen;
Keywords[fr]=diagnostics;crash;plantage;
Keywords[fur]=diagnostiche;colàs;crash;
Keywords[gl]=diagnóstico;crash;
Keywords[he]=אבחון;אבחנה;קריסה;
Keywords[hr]=dijagnostika;rušenje;
Keywords[hu]=diagnosztika;összeomlás;
Keywords[id]=diagnostik;kres;
Keywords[is]=greining;vandamál;hrun;
Keywords[ka]=დიაგნოსტიკა;ავარია;
Keywords[kk]=diagnostics;crash;диагностика;құлау;
Keywords[ko]=diagnostics;진단;검사;crash;크래시;이상종료;
Keywords[lt]=diagnostika;lūžimas;
Keywords[lv]=diagnostika;avārija;
Keywords[ne]=निदान;दुर्घटना;
Keywords[nl]=diagnostics;crash;bevindingen;
Keywords[oc]=diagnostics;crash;plantatge;avaria;fracàs;
Keywords[pa]=ਪੜਤਾਲ;ਕਰੈਸ਼;ਨਸ਼ਟ;
Keywords[pl]=diagnostyka;awaria;awarie;crash;krasz;
Keywords[pt]=diagnósticos;falha;
Keywords[pt_BR]=diagnósticos;falha;
Keywords[ru]=диагностика;крах;
Keywords[sk]=diagnostika;pád;zlyhanie;
Keywords[sl]=diagnostika;spori;napake;sesutje;
Keywords[sr]=diagnostics;crash;дијагностика;пад;
Keywords[sv]=diagnostik;krasch;
Keywords[tr]=tanılama;teşhis;çökme;bozulma;kırılma;
Keywords[uk]=diagnostics;crash;діагностика;аварія;
Keywords[zh_CN]=diagnostics;crash;诊断;崩溃;
Keywords[zh_TW]=diagnostics;crash;診斷;當機;
Keywords=diagnostics;crash;
