[Desktop Entry]
Name[af]=Skerm
Name[am]=እስክሪን
Name[an]=Pantalla
Name[ar]=شاشة
Name[as]=পৰ্দা
Name[ast]=Pantalla
Name[az]=Ekran
Name[be]=Экран
Name[bg]=Екран
Name[bn]=স্ক্রীন
Name[bn_IN]=স্ক্রীন
Name[br]=Skramm
Name[bs]=Ekran
Name[ca]=Pantalla
Name[ca@valencia]=Pantalla
Name[ckb]=شاشە
Name[crh]=Ekran
Name[cs]=Obrazovka
Name[cy]=Sgrin
Name[da]=Skærm
Name[de]=Bildschirm
Name[el]=Οθόνη
Name[en_CA]=Screen
Name[en_GB]=Screen
Name[eo]=Ekrano
Name[es]=Pantalla
Name[et]=Ekraan
Name[eu]=Pantaila
Name[fa]=صفحه‌نمایش
Name[fi]=Näyttö
Name[fr]=Écran
Name[fur]=Schermi
Name[ga]=Scáileán
Name[gd]=Sgrìn
Name[gl]=Pantalla
Name[gu]=સ્ક્રીન
Name[he]=מסך
Name[hi]=स्क्रीन
Name[hr]=Zaslon
Name[hu]=Képernyő
Name[id]=Layar
Name[ie]=Ecran
Name[is]=Skjár
Name[it]=Schermo
Name[ja]=画面
Name[ka]=ეკრანი
Name[kab]=Agdil
Name[kk]=Экран
Name[kn]=ತೆರೆ
Name[ko]=화면
Name[ku]=Dîmen
Name[lt]=Ekranas
Name[lv]=Ekrāns
Name[mg]=Efijery
Name[mjw]=Screen
Name[mk]=Екран
Name[ml]=സ്ക്രീന്‍
Name[mn]=Дэлгэц
Name[mr]=पडदा
Name[ms]=Skrin
Name[nb]=Skjerm
Name[ne]=पर्दा
Name[nl]=Scherm
Name[nso]=Sekirini
Name[oc]=Ecran
Name[or]=ପରଦା
Name[pa]=ਸਕਰੀਨ
Name[pl]=Ekran
Name[pt]=Ecrã
Name[pt_BR]=Tela
Name[ro]=Ecran
Name[ru]=Экран
Name[rw]=Mugaragaza
Name[si]=තිරය
Name[sk]=Obrazovka
Name[sl]=Zaslon
Name[sr]=Екран
Name[sr@latin]=Ekran
Name[sv]=Skärm
Name[ta]=திரை
Name[te]=తెర
Name[tg]=Экран
Name[th]=หน้าจอ
Name[tr]=Ekran
Name[ug]=ئېكران
Name[uk]=Екран
Name[vi]=Màn hình
Name[wa]=Waitroûle
Name[xh]=Iskrini
Name[zh_CN]=屏幕
Name[zh_HK]=螢幕
Name[zh_TW]=螢幕
Name[zu]=Ubuso besiga-nyezi
Name=Screen
Comment[be]=Налады экрана
Comment[bg]=Настройки на екрана
Comment[ca]=Paràmetres de la pantalla
Comment[cs]=Nastavení obrazovky
Comment[da]=Skærmindstillinger
Comment[de]=Bildschirm-Einstellungen
Comment[el]=Ρυθμίσεις οθόνης
Comment[en_GB]=Screen Settings
Comment[es]=Configuración de la pantalla
Comment[eu]=Pantaila-ezarpenak
Comment[fa]=تنظیمات صفحه
Comment[fi]=Näytön asetukset
Comment[fur]=Impostazions schermi
Comment[gl]=Preferencias da pantalla
Comment[he]=הגדרות מסך
Comment[hr]=Postavke zaslona
Comment[hu]=Képernyő-beállítások
Comment[id]=Pengaturan Layar
Comment[ie]=Parametres del ecran
Comment[is]=Skjástillingar
Comment[ka]=ეკრანის მორგება
Comment[kk]=Экран баптаулары
Comment[ko]=화면 설정
Comment[lt]=Ekrano nuostatos
Comment[lv]=Ekrāna iestatījumi
Comment[nl]=Scherminstellingen
Comment[oc]=Configuracion de l'ecran
Comment[pa]=ਸਕਰੀਨ ਸੈਟਿੰਗਾਂ
Comment[pl]=Ustawienia ekranu
Comment[pt]=Definições do ecrã
Comment[pt_BR]=Configurações da tela
Comment[ru]=Настройки экрана
Comment[sk]=Nastavenia obrazovky
Comment[sl]=Nastavitve zaslona
Comment[sr]=Подешавања екрана
Comment[sv]=Skärminställningar
Comment[tr]=Ekran Ayarları
Comment[uk]=Параметри екрана
Comment[zh_CN]=屏幕设置
Comment[zh_TW]=螢幕設定
Comment=Screen Settings
Exec=gnome-control-center screen
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-screen-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=screen
X-GNOME-Bugzilla-Version=43.5
# Translators: Search terms to find the Screen panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=экран;блакіраванне;блакаванне;прыватнасць;канфідэнцыяльнасць;;
Keywords[bg]=екран;заключване;поверителност;скриване;screen;lock;private;privacy;
Keywords[ca]=pantalla;bloqueja;privat;privadesa;
Keywords[cs]=obrazovka;zámek;zamknutí;zamčení;uzamknutí;uzamčení;soukromí;
Keywords[da]=skærm;lås;privat;privatliv;
Keywords[de]=screen;lock;private;privacy;Bildschirm;gesperrt;sperren;privat;Datenschutz;
Keywords[en_GB]=screen;lock;private;privacy;
Keywords[es]=pantalla;bloqueo;privado;privacidad;
Keywords[eu]=pantaila;blokeatu;pribatua;pribatutasuna;
Keywords[fa]=screen;lock;private;privacy;صفحه;نمایش;خصوصی;محرمانگی;حریم شخصی;
Keywords[fi]=screen;lock;private;privacy;näyttö;lukitus;yksityisyys;tietosuoja;
Keywords[fr]=écran;verrouiller;privé;confidentialité;
Keywords[fur]=schermi;bloche;privât;riservatece;privacy;
Keywords[gl]=pantalla;bloqueo;privado;privacidade
Keywords[he]=מסך;נעילה;פרטי;פרטיות;
Keywords[hr]=zaslon;zaključaj;privatno;privatnost;
Keywords[hu]=képernyő;zárolás;személyes;adatvédelem;
Keywords[id]=layar;kunci;pribadi;privasi;
Keywords[kk]=screen;lock;private;privacy;экран;блоктау;жеке;жекелік;
Keywords[ko]=screen;화면;lock;잠금;private;privacy;개인;정보;사생활;프라이버시;보호;
Keywords[lt]=ekranas;užraktas;privatus;privatumas;
Keywords[lv]=ekrāns;bloķēt;privāts;privātums;
Keywords[ne]=पर्दा;ताल्चा;निजी;गोपनीयता;
Keywords[nl]=screen;lock;private;privacy;scherm;vergrendel;privé;
Keywords[oc]=ecran;verrolh;privat;confidencialitat;
Keywords[pa]=ਸਕਰੀਨ;ਸਕ੍ਰੀਨ;ਪਰਦਾ;ਲਾਕ;ਤਾਲਾ;ਪ੍ਰਾਈਵੇਟ;ਨਿੱਜੀ;ਪਰਦੇਦਾਰੀ;ਪਰਾਈਵੇਸੀ;
Keywords[pl]=ekran;blokada;zablokuj;prywatne;prywatność;
Keywords[pt]=ecrã;bloquear;privado;privacidade;
Keywords[pt_BR]=tela;bloqueio;privado;privacidade;
Keywords[ru]=экран;блокировка;частное;конфиденциальность;
Keywords[sk]=obrazovka;zámok;uzamknutie;súkromie;súkromná;
Keywords[sl]=screen;lock;private;privacy;zaslon;zaklep;zasebno;
Keywords[sr]=screen;lock;private;privacy;екран;закључавање;приватност;
Keywords[sv]=skärm;lås;privat;sekretess;integritet;
Keywords[tr]=ekran;monitör;kilit;özel;gizlilik;
Keywords[uk]=screen;lock;private;privacy;екран;блокування;конфіденційність;приватність;приватний;
Keywords[zh_CN]=screen;lock;private;privacy;屏幕;显示器;锁定;私人;隐私;
Keywords[zh_TW]=screen;lock;private;privacy;螢幕鎖定;鎖定畫面;隱私權;
Keywords=screen;lock;private;privacy;
