[Desktop Entry]
Name[be]=Гісторыя файлаў і сметніца
Name[bg]=История на файловете и кошчето
Name[bn_IN]=ফাইলের ইতিহাস এবং ট্র্যাশ
Name[ca]=Historial dels fitxers i paperera
Name[cs]=Historie souborů a koš
Name[da]=Filhistorik & papirkurv
Name[de]=Dateichronik und Papierkorb
Name[el]=Ιστορικό αρχείου & Κάδος απορριμάτων
Name[en_GB]=File History & Wastebasket
Name[eo]=Dosierhistorio & rubujo
Name[es]=Histórico de archivos y papelera
Name[eu]=Fitxategien historia eta zakarrontzia
Name[fa]=تاریخچهٔ پرونده و زباله‌دان
Name[fi]=Tiedostohistoria ja roskakori
Name[fr]=Historique des fichiers et corbeille
Name[fur]=Cronologjie file e Scovacere
Name[gl]=Historial de ficheiros e lixo
Name[he]=היסטוריית קבצים ואשפה
Name[hr]=Povijest datoteka i smeće
Name[hu]=Fájlelőzmények és kuka
Name[id]=Riwayat Berkas dan Tempat Sampah
Name[ie]=Diarium de files e li Paper-corb
Name[is]=Ferill skráa og rusl
Name[it]=Cronologia file e cestino
Name[ja]=ファイルの履歴と削除
Name[ka]=ფაილის ისტორია & ნაგავი
Name[kk]=Файлдар тарихы және қоқыс шелегі
Name[ko]=파일 사용 내역 및 휴지통
Name[lt]=Failų istorija ir šiukšlinė
Name[lv]=Datņu vēsture un miskaste
Name[ms]=Sejarah & Tong Sampah Fail
Name[nb]=Filhistorikk og papirkurv
Name[ne]=फाइल इतिहास र रद्दीटोकरी
Name[nl]=Bestandsgeschiedenis & prullenbak
Name[oc]=Istoric e escobilhièr
Name[pa]=ਫਾਇਲ ਅਤੀਤ ਤੇ ਰੱਦੀ
Name[pl]=Historia plików i kosz
Name[pt]=Histórico de ficheiros e Lixo
Name[pt_BR]=Histórico de arquivos & lixeira
Name[ro]=Gunoi și istoricul fișierelor
Name[ru]=История файлов и корзина
Name[sk]=História súborov a kôš
Name[sl]=Zgodovina datoteke in smeti
Name[sr]=Историјат датотека и смеће
Name[sv]=Filhistorik & papperskorg
Name[tr]=Dosya Geçmişi ve Çöp
Name[uk]=Журнал файлів та смітник
Name[vi]=Lịch sử tập tin & Thùng rác
Name[zh_CN]=文件历史与回收站
Name[zh_TW]=檔案歷史記錄與垃圾桶
Name=File History & Trash
Comment[be]=Не пакідаць слядоў
Comment[bg]=Без оставяне на следи
Comment[bn_IN]=ট্রেস ছেড়ে যাবেন না
Comment[ca]=No deixis rastres
Comment[cs]=Nezanechávejte po sobě stopy
Comment[da]=Efterlad ingen spor
Comment[de]=Keine Spuren hinterlassen
Comment[el]=Να μην αφήνονται ίχνη
Comment[en_GB]=Don't leave traces
Comment[eo]=Ne lasi ŝpurojn
Comment[es]=No dejar trazas
Comment[eu]=Ez utzi aztarnarik
Comment[fa]=برجا نگذاشتن اثر
Comment[fi]=Älä jätä jälkiä
Comment[fur]=No sta lassâ olmis
Comment[gl]=Non deixar rastro
Comment[he]=לא להשאיר עקבות
Comment[hr]=Ne ostavljaj tragove
Comment[hu]=Ne hagyjon nyomokat
Comment[id]=Jangan tinggalkan jejak
Comment[is]=Ekki skilja eftir nein ummerki
Comment[it]=Non lasciare tracce
Comment[ja]=痕跡を残さないようにします
Comment[ka]=კვალის არ დატოვება
Comment[kk]=Із қалдырмау
Comment[ko]=흔적 남기지 않기
Comment[lt]=Nepalikti pėdsakų
Comment[lv]=Neatstāt pēdas
Comment[ms]=Jangan tinggalkan jejak
Comment[nb]=Ikke etterlat spor
Comment[ne]=चिन्ह हरू नछोड्नुहोस्
Comment[nl]=Geen sporen achterlaten
Comment[oc]=Daissar pas cap de traças
Comment[pa]=ਨਿਸ਼ਾਨ ਨਾ ਛੱਡੋ
Comment[pl]=Nie zostawiaj śladów
Comment[pt]=Não deixar rastros
Comment[pt_BR]=Não deixe rastros
Comment[ro]=Nu lăsa urme
Comment[ru]=Не оставлять следов
Comment[sk]=Nezanechávajte stopy
Comment[sl]=Ne puščaj sledi
Comment[sr]=Не остављај трагове
Comment[sv]=Lämna inga spår
Comment[tr]=İz bırakma
Comment[uk]=Не залишати слідів
Comment[vi]=Đừng để lại dấu vết
Comment[zh_CN]=不留痕迹
Comment[zh_TW]=不留下可被追蹤的訊息
Comment=Don't leave traces
Exec=gnome-control-center usage
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-file-history-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=privacy
X-GNOME-Bugzilla-Version=43.5
# Translators: Search terms to find the Usage panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=выкарыстанне;нядаўнія;апошнія;гісторыя;файлы;часовыя;tmp;прыватнасць;прыватны;сметніца;ачыстка;выдаленне;
Keywords[bg]=употреба;скорошни;последни;история;временни;файлове;лични;данни;защита;кошче;изчистване;;usage;recent;history;files;temporary;tmp;private;privacy;trash;purge;retain;
Keywords[ca]=ús;recent;història;fitxers;temporal;tmp;privat;privacitat;brossa;neteja;mantén;
Keywords[cs]=využití;nedávný;nedávné;historie;soubory;dočasné;dočasný;tmp;soukromí;koš;vysypat;smazat;mazat;zachovat;uchování;
Keywords[da]=brug;nylig;seneste;historik;filer;midlertidig;tmp;privat;privatliv;papirkurv;tøm;tømning;bevar;behold;
Keywords[de]=usage;recent;history;files;temporary;tmp;private;privacy;trash;purge;retain;Verwendung;zuletzt;kürzlich;Verlauf;Dateien;temporär;privat;Datenschutz;Papierkorb;bereinigen;behalten;
Keywords[en_GB]=usage;recent;history;files;temporary;tmp;private;privacy;trash;wastebasket;purge;retain;
Keywords[es]=uso;reciente;histórico;archivos;temporal;tmp;privado;privacidad;papelera;vaciado;retener;
Keywords[eu]=erabilera;azken aldikoa;historia;fitxategiak;aldi batekoa;tmp;pribatua;pribatutasuna;zakarrontzia;ezabatu;mantendu;
Keywords[fa]=usage;recent;history;files;temporary;tmp;private;privacy;trash;purge;retain;استفاده;مصرف;اخیر;تاریخچه;پرونده‌ها;موقتی;خصوصی;محرمانگی;حریم شخصی;زباله‌دان;آشغال;
Keywords[fi]=usage;recent;history;files;temporary;tmp;private;privacy;trash;purge;retain;käyttö;viimeisimmät;uusimmat;historia;tiedostot;väliaikaiset;yksityisyys;roskakori;säilytys;
Keywords[fr]=utilisation;récent;historique;fichiers;temporaire;tmp;privée;confidentialité;supprimer;purger;conserver;
Keywords[fur]=utilizazion;resint;cronologjie;files;temporani;tmp;privât;privacy;riservatece;scovacere;nete;conserve;
Keywords[gl]=uso;recente;historial;ficheiros;temporais;tmp;privado;privacidade;lixo;purgar;reter;
Keywords[he]=שימוש;ניצול;לאחרונה;היסטוריה;קבצים;זמני;פרטי;פרטיות;אשפה;ניקוי;שמירה;
Keywords[hr]=upotreba;nedavno;povijest;datoteke;privremeno;prv;privatno;privatnost;smeće;isprazni;zadrži;
Keywords[hu]=használat;legutóbbi;előzmények;fájlok;átmeneti;tmp;személyes;adatvédelem;kuka;törlés;megtartás;
Keywords[id]=penggunaan;terkini;riwayat;berkas;sementara;tmp;pribadi;privasi;sampah;pembersihan;simpan;
Keywords[kk]=usage;recent;history;files;temporary;tmp;private;privacy;trash;purge;retain;қолданылу;жуырдағы;тарих;файлдар;уақытша;жеке;жекелік;қоқыс шелегі;тазарту;қалдыру;
Keywords[ko]=usage;사용;recent;최근;history;기록;내역;히스토리;files;파일;temporary;tmp;임시;private;privacy;;보안;개인;정보;보호;trash;휴지통;purge;비우기;retain;유지;
Keywords[lt]=naudojimas;neseni;istorija;failai;laikini;tmp;privatūs;privatumas;šiukšlinė;išvalyti;palikti;
Keywords[lv]=lietojums;nesenie;vēsture;faili;datnes;pagaidu;privātums;privāts;miskaste;atkritne;attīrīt;paturēt;
Keywords[ne]=प्रयोग;हालैको;इतिहास;फाइलहरू;अस्थायी;tmp;निजी;गोपनीयता;रद्दी टोकरी;शुद्धिकरण;कायम राख्नुहोस्;
Keywords[nl]=usage;recent;history;files;temporary;tmp;private;privacy;trash;purge;retain;gebruik;onlangs gebruikt;geschiedenis;bestanden;tijdelijk;privé;prullenbak;legen;houden;
Keywords[oc]=usatge;utilizacion;usança;recents;istoric;istorial;fichiès;temporaris;tmp;privat;confidencialitat;escobilhièr;banasta;pobèlla;bordilhièr;purgar;purga;servar;conservar;memorizar;gardar;
Keywords[pa]=ਵਰਤੋਂ;ਹਾਲੀਆ;ਸੱਜਰਾ;ਹੁਣੇ;ਅਤੀਤ;ਇਤਿਹਾਸ;ਆਰਜ਼ੀ;ਪ੍ਰਾਈਵੇਟ;ਨਿੱਜੀ;ਪਰਦੇਦਾਰੀ;ਪਰਾਈਵੇਸੀ;ਪ੍ਰਾਈਵੇਸੀ;ਰੱਦੀ;ਬੇਕਾਰ;ਖਾਲੀ;ਰੱਖੋ;ਨਿਕਾਸ;
Keywords[pl]=użycie;ostatnie;ostatnio;używane;użyte;historia;pliki;plików;tymczasowe;tmp;prywatne;prywatność;kosz;śmietnik;czyszczenie;wyczyść;przeczyść;usuwanie;usuń;kasowanie;skasuj;kasuj;
Keywords[pt]=utilização;recente;histórico;ficheiros;temporário;tmp;privado;privacidade;lixo;purga;retenção;
Keywords[pt_BR]=uso;recente;histórico;arquivos;temporário;tmp;privado;privacidade;lixo;limpar;reter;
Keywords[ru]=использование;недавние;история;файлы;временные;tmp;частные;конфиденциальность;мусор;очистить;сохранить;
Keywords[sk]=využitie;nedávne;história;súbory;dočasné;dočasne;tmp;súkromné;súkromie;kôš;čistenie;vysypanie;vysypať;ponechať;uchovať;
Keywords[sl]=usage;recent;history;files;temporary;tmp;private;privacy;trash;purge;retain;uporaba;nedavno;zgodovina;datoteke;začasno;zasebno;osebno;smeti;brisanje;povrnitev;
Keywords[sr]=usage;recent;history;files;temporary;tmp;private;privacy;trash;purge;retain;коришћење;недавно;историјат;датотеке;привремено;тмп;приватност;смеће;чишћење;задржавање;korišćenje;nedavno;istorijat;datoteke;privremeno;privatnost;smeće;čišćenje;zadržavanje;
Keywords[sv]=användning:senaste;historik;filer;tillfällig;temporär;tmp;privat;sekretess;integritet;skräp;rensa;behåll;
Keywords[tr]=kullanım;son;en son;geçmiş;tarihçe;dosyalar;geçici;tmp;özel;gizlilik;çöp;geri dönüşüm;temizlik;arınma;koru;
Keywords[uk]=usage;recent;history;files;temporary;tmp;private;privacy;trash;purge;retain;користування;нещодавні;недавні;журнал;файли;тимчасовий;приватний;конфіденційність;приватність;смітник;кошик;витерти;витирання;збереження;
Keywords[zh_CN]=usage;recent;history;files;temporary;tmp;private;privacy;trash;purge;retain;占用;最近;历史;文件;临时;私人;隐私;回收站;垃圾;清除;保留;
Keywords[zh_TW]=usage;recent;history;files;temporary;tmp;private;privacy;trash;purge;retain;使用;最近;歷史;檔案;暫存檔;隱私權;垃圾桶;清除;保存;紀錄;追蹤;自動刪除;
Keywords=usage;recent;history;files;temporary;tmp;private;privacy;trash;purge;retain;
