[Desktop Entry]
Name[ab]=Ашәарҭадара
Name[be]=Бяспека прылады
Name[bg]=Сигурност на устройство
Name[ca]=Seguretat del dispositiu
Name[cs]=Zabezpečení zařízení
Name[da]=Enhedssikkerhed
Name[de]=Gerätesicherheit
Name[en_GB]=Device Security
Name[es]=Seguridad del dispositivo
Name[eu]=Gailu-segurtasuna
Name[fa]=امنیت افزاره
Name[fi]=Laitteen suojaus
Name[fr]=Sécurité de l’appareil
Name[fur]=Sigurece dal dispositîf
Name[gl]=Seguranza do dispositivo
Name[he]=אבטחת התקן
Name[hr]=Sigurnost uređaja
Name[hu]=Eszközbiztonság
Name[id]=Keamanan Perangkat
Name[ie]=Securitá del aparate
Name[is]=Öryggistæki
Name[ka]=მოწყობილობის უსაფრთხოება
Name[kk]=Қолдауы жоқ
Name[ko]=장치 보안
Name[lt]=Įrenginio sauga
Name[lv]=Ierīces drošība
Name[ne]=सुरक्षा यन्त्र
Name[nl]=Apparaatbeveiliging
Name[oc]=Seguretat de l’aparelh
Name[pa]=ਡਿਵਾਈਸ ਸੁਰੱਖਿਆ
Name[pl]=Zabezpieczenia urządzenia
Name[pt]=Segurança do dispositivo
Name[pt_BR]=Segurança do dispositivo
Name[ru]=Безопасность устройства
Name[sk]=Zabezpečenie zariadenia
Name[sl]=Varnost naprave
Name[sr]=Безбедност уређаја
Name[sv]=Enhetssäkerhet
Name[tr]=Aygıt Güvenliği
Name[uk]=Безпека пристрою
Name[zh_CN]=设备安全
Name[zh_TW]=裝置安全
Name=Device Security
Comment[be]=Статус бяспекі ўбудаванага ПЗ хоста
Comment[bg]=Състояние на сигурността на фърмуера
Comment[ca]=Estat de seguretat del microprogramari de l'amfitrió
Comment[cs]=Bezpečnostní stav firmwaru hostitele
Comment[da]=Værtsfirmwares sikkerhedsstatus
Comment[de]=Sicherheitsstatus der Geräte-Firmware
Comment[en_GB]=Host firmware security status
Comment[es]=Estado de la seguridad del firmware del equipo
Comment[eu]=Ostalari-firmwarearen segurtasun-egoera
Comment[fa]=وضعیت امنیتی ثابت‌افزار میزبان
Comment[fi]=Host-koneen laiteohjelmiston suojaustila
Comment[fur]=Stât de sigurece dal firmware dal host
Comment[gl]=Estado da seguranza do firmware do host
Comment[he]=מצב אבטחת קָשְחת המארח
Comment[hr]=Sigurnosno stanje firmvera računala
Comment[hu]=Gazda belső vezérlőprogramjának biztonsági állapota
Comment[id]=Status keamanan firmware host
Comment[is]=Staða öryggis á fasthugbúnaði hýsivélar
Comment[ka]=ჰოსტის მიკროკოდის უსაფრთხოების მდგომარეობა
Comment[ko]=호스트 펌웨어 보안 상태
Comment[lt]=Kompiuterio aparatinės programinės įrangos saugos būsena
Comment[lv]=Datora aparātprogrammatūras drošības status
Comment[nl]=Firmwarebeveiligingsstatus van host
Comment[pa]=ਹੋਸਟ ਫਿਰਮਵੇਅਰ ਸੁਰੱਖਿਆ ਸਥਿਤੀ
Comment[pl]=Stan zabezpieczeń oprogramowania sprzętowego komputera
Comment[pt]=Estado de segurança do firmware anfitrião
Comment[pt_BR]=Status de segurança do firmware do dispositivo
Comment[ru]=Статус безопасности прошивки хоста
Comment[sk]=Stav zabezpečenia firmvéru hostiteľa
Comment[sl]=Varnostno stanje vdelane programske opreme gostitelja
Comment[sr]=Безбедносно стање фирмвера домаћина
Comment[sv]=Säkerhetsstatus för värdens fasta programvara
Comment[tr]=Bilgisayar donanım yazılımı güvenlik durumu
Comment[uk]=Стан захисту мікропрограми основної системи
Comment[zh_CN]=主机固件安全状态
Comment[zh_TW]=了解主機的安全性狀態
Comment=Host firmware security status
Exec=gnome-control-center firmware-security
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=security-high-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=privacy
X-GNOME-Bugzilla-Version=43.5
# Translators: Search terms to find the Privacy panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=экран;блакіраванне;заблакіраваць;дыягностыка;аварыя;прыватны;нядаўні;часовы;назва;імя;сетка;сеціва;ідэнтыфікацыя;асоба;прыватнасць;
Keywords[bg]=екран;монитор;дисплей;заключване;затъмняване;диагностика;забиване;частен;личен;таен;скрит;временен;индекс;име;мрежа;идентичност;защита;данни;screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[bn_IN]=স্ক্রিন;লক;ডায়গনিস্টিক;ক্র্যাশ;ব্যক্তিগত;সাম্প্রতিক;অস্থায়ী;tmp;সূচক;নাম;নেটওয়ার্ক;পরিচয়;গোপনীয়তা;
Keywords[ca]=pantalla;bloca;diagnòstics;fallades;privat;recent;temporal;tmp;índex;nom;xarxa;identitat;privadesa;privacitat;
Keywords[cs]=obrazovka;zamknout;zámek;diagnostika;pád;zhroucení;soukromý;osobní;nedávný;dočasný;tmp;index;jméno;síť;identita;soukromí;
Keywords[da]=skærm;lås;diagnostik;baglås;nedbrud;privat;seneste;midlertidig;tmp;indeks;navn;netværk;identitet;privatliv;
Keywords[de]=Bildschirm;Sperre;Diagnose;Absturz;Crash;Privat;temporär;Index;Name;Netzwerk;Identität;Privatsphäre;Datenschutz;
Keywords[en_GB]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[eo]=ekrano;ŝlosi;ŝloso;diagnozo;kraŝo;privata;lastatempa;provizora;tmp;indekso;nomo;reto;identeco;privateco;
Keywords[es]=pantalla;bloqueo;diagnóstico;error;privado;reciente;temporal;tmp;índice;nombre;red;identidad;privacidad;
Keywords[eu]=pantaila;blokeoa;diagnostikoa;kraskadura;pribatua;azkena;aldi baterakoa;tmp;indizea;izena;sarea;identitatea;pribatutasuna;
Keywords[fa]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;صفحه;قفل;کرش;خصوصی;اخیر;موقت;نمایه;نام;شبکه;هویت;محرمانگی"حریم شخصی;حریم خصوصی;
Keywords[fi]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;näyttö;lukitus;diagnostikka;kaatuminen;yksityinen;viimeisimmät;väliaikset;nimi;verkko;identiteetti;yksityisyys;tietosuoja;
Keywords[fr]=écran;verrouiller;verrouillage;diagnostic;diagnostique;plantage;privé;confidentiel;récent;temporaire;tmp;index;nom;réseaux;identité;confidentialité;
Keywords[fur]=schermi;visôr;bloc;diagnostiche;colàs;crash;privât;resint;temporani;tmp;indiç;tabele;non;rêt;identitât;privacy;riservatece;
Keywords[gl]=pantalla;bloqueo;diagnóstico;peches;privado;recente;temporal;tmp;índice;nome;rede;identidade;privacidade;
Keywords[he]=מסך;צד;נעילה;ניתוח;דיאגנוסטיקה;קריסה;פרטיות;פרטי;אחרונים;אחרון;זמני;זמניים;מפתח;אינדקס;שם;רשת;זהות;פרטיות;
Keywords[hr]=zaslon;zaključaj;dijagnostika;rušenje;privatno;nedavno;privremeno;tmp;sadržaj;naziv;mreža;identitet;privatnost;
Keywords[hu]=képernyő;zárolás;diagnosztika;összeomlás;magán;privát;legutóbbi;nemrégi;ideiglenes;temp;index;név;hálózat;azonosság;identitás;adatvédelem;
Keywords[id]=layar;kunci;diagnostik;crash;privat;terkini;temporer;tmp;indeks;nama;jaringan;identitas;privasi;
Keywords[is]=skjár;læsa;greining;hrun;einka;nýlegt;bráðabirgða;tmp;yfirlit;nafn;netkerfi;auðkenna;gagnaleynd;
Keywords[it]=schermo;blocco;diagnostica;crash;privato;recente;temporaneo;tmp;indice;nome;rete;identità;privacy;
Keywords[ja]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;画面;スクリーン;ロック;診断;クラッシュ;プライベート;最近;テンポラリー;一時;インデックス;索引;名前;ネットワーク;プライバシー;
Keywords[kk]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;экран;блоктау;диагностика;құлау;жеке;жуырдағы;уақытша;индекс;аты;желі;анықтағыш;жекелік;
Keywords[ko]=screen;화면;lock;잠그기;diagnostics;진단;crash;private;recent;최근;temporary;tmp;임시;index;색인;name;이름;network;네트워크;identity;신원;privacy;개인;정보;사생활;프라이버시;보호;
Keywords[lt]=ekranas;užrakinimas;diagnostika;lūžimas;privatus;neseniai;naudoti;laikinieji;indeksas;pavadinimas;tinklas;tapatybė;privatumas;
Keywords[lv]=ekrāns;bloķēt;slēgt;diagnostika;avārija;privāts;nesens;pagaidu;indeks;rādītājs;vārds;tīkls;identitāte;privātums;
Keywords[nb]=skjerm;lås;diagnostikk;krash;privat;nylige filer;midlertidig;tmp;indeks;navn;nettverk;identitet;personvern;
Keywords[ne]=पर्दा;ताल्चा;निदान;क्र्यास;निजी;हालैको;अस्थायी;tmp;index;नाम;सञ्जाल;पहिचान;गोपनीयता;
Keywords[nl]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;scherm;vergrendelen;privé;tijdelijk;naam;netwerk;identiteit;
Keywords[oc]=ecran;verrolhar;verrolhatge;diagnotic;confidencialitat;recent;temporari;nom;ret;malhum;identitat;tmp;privat;privada;vida;
Keywords[pa]=ਸਕਰੀਨ;ਲਾਕ;ਜਾਂਚ;ਪੜਤਾਲ;ਪ੍ਰਾਈਵੇਟ;ਨਿੱਜੀ;ਆਰਜ਼ੀ;ਇੰਡੈਕਸ;ਨਾਂ;ਨੈੱਟਵਰਕ;ਪਛਾਣ;ਕਰੈਸ਼;ਤਾਜ਼ਾ;ਪਰਦੇਦਾਰੀ;
Keywords[pl]=ekran;blokada;diagnostyka;awaria;prywatne;ostatnie;ostatnio;tymczasowe;tmp;indeksowanie;index;nazwa;sieć;tożsamość;prywatność;
Keywords[pt]=ecrã;bloquear;trancar;diagnósticos;falha;privado;recente;temporário;tmp;índice;nome;rede;identidade;
Keywords[pt_BR]=tela;bloqueio;diagnostico;travamento;privado;recente;temporário;índice;nome;rede;identidade;privacidade;
Keywords[ro]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;ecran;blocare;diagnostice;pană;privat;temporar;nume;rețeaidentitate;confidențialitate;
Keywords[ru]=экран;блокировка;диагностика;сбой;личный;приватный;недавние;временные;tmp;индекс;имя;сеть;идентификация;личность;конфиденциальность;
Keywords[sk]=obrazovka;zámok;uzamknutie;diagnostika;pád;súkromný;nedávny;dočasný;tmp;index;meno;názov;sieť;identita;súkromie;
Keywords[sl]=zaslon;zaklep;diagnostika;crash;sesutje;zasebnost;hrošči;nedavno;začasno;tmp;index;ime;network;omrežje;istovetnost;identiteta;podatki;
Keywords[sr]=екран;закључај;дијагноза;пад;урушавање;лично;скорашње;недавно;привремен;тмп;попис;назив;мрежа;идентитет;приватност;screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[sv]=skärm;lås;diagnostik;krasch;privat;nyligen;senaste;tillfällig;temporär;tmp;index;namn;nätverk;identitet;sekretess;integritet;
Keywords[tr]=ekran;kilit;tanılama;kırılma;bozulma;çökme;özel;son;geçici;tmp;endeks;içindekiler;indeks;isim;ad;ağ;kimlik;gizlilik;
Keywords[uk]=екран;блокування;діагностика;крах;особисте;нещодавнє;тимчасове;tmp;індекс;назва;мережа;засвідчення;конфіденційність;
Keywords[vi]=screen;màn;hình;man;hình;lock;khóa;khoa;diagnostics;chẩn;đoán;chan;doan;crash;hư;hu;private;riêng;tư;rieng;tu;recent;mới;dùng;moi;dung;gần;đây;gan;day;temporary;tạm;tam;tmp;index;name;tên;ten;network;mạng;mang;identity;thực;thể;thuc;the;privacy;chính sách riêng tư;chinh sach rieng tu;
Keywords[zh_CN]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;屏幕;锁;诊断;崩溃;私有;最近;临时;索引;名称;网络;认证;标志;身份;隐私;
Keywords[zh_TW]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;螢幕;鎖定;診斷;當掉;崩潰;私人;隱私;最近;暫存;索引;名稱;網路;身分;
Keywords=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
