[Desktop Entry]
Name[ab]=Акамера
Name[ar]=كمرة
Name[be]=Камера
Name[bg]=Фотоапарат
Name[bn_IN]=ক্যামেরা
Name[ca]=Càmera
Name[ckb]=کامێرا
Name[cs]=Kamera
Name[da]=Kamera
Name[de]=Kamera
Name[el]=Κάμερα
Name[en_GB]=Camera
Name[eo]=Kamerao
Name[es]=Cámara
Name[eu]=Kamera
Name[fa]=دوربین
Name[fi]=Kamera
Name[fr]=Caméra
Name[fur]=Fotocjamare
Name[gl]=Cámara
Name[he]=מצלמה
Name[hr]=Kamera
Name[hu]=Kamera
Name[id]=Kamera
Name[ie]=Cámera
Name[is]=Myndavél
Name[it]=Fotocamera
Name[ja]=カメラ
Name[ka]=კამერა
Name[kab]=Takamiṛat
Name[kk]=Камера
Name[ko]=카메라
Name[lt]=Kamera
Name[lv]=Kamera
Name[mjw]=Camera
Name[ms]=Kamera
Name[nb]=Kamera
Name[ne]=क्यामेरा
Name[nl]=Camera
Name[oc]=Camèra
Name[pa]=ਕੈਮਰਾ
Name[pl]=Kamera
Name[pt]=Câmara
Name[pt_BR]=Câmera
Name[ro]=Cameră
Name[ru]=Камера
Name[sk]=Kamera
Name[sl]=Kamera
Name[sr]=Камера
Name[sv]=Kamera
Name[tr]=Kamera
Name[uk]=Камера
Name[vi]=Máy ảnh
Name[zh_CN]=摄像头
Name[zh_TW]=相機
Name=Camera
Comment[be]=Абараніце свае фота
Comment[bg]=Защита на изображенията
Comment[bn_IN]=আপনার ছবি রক্ষা করুন
Comment[ca]=Protegiu les vostres imatges
Comment[cs]=Ochránit své obrázky
Comment[da]=Beskyt dine billeder
Comment[de]=Ihre Bilder schützen
Comment[el]=Προστατέψτε τις φωτογραφίες σας
Comment[en_GB]=Protect your pictures
Comment[eo]=Protekti viajn bildoj
Comment[es]=Proteger sus imágenes
Comment[eu]=Babestu zure irudiak
Comment[fa]=محافظت از عکس‌هایتان
Comment[fi]=Suojaa kuvasi
Comment[fur]=Protêç lis tôs imagjins
Comment[gl]=Protexer as súas fotografías
Comment[he]=הגנה על התמונות שלך
Comment[hr]=Zaštitite svoje slike
Comment[hu]=A képei védelme
Comment[id]=Lindungi gambar Anda
Comment[is]=Verndaðu myndirnar þínar
Comment[it]=Proteggere le proprie immagini
Comment[ja]=写真を保護します
Comment[ka]=დაიცავით თქვენი სურათები
Comment[kk]=Суреттерді қорғау
Comment[ko]=내 사진을 보호합니다
Comment[lt]=Apsaugokite savo paveikslėlius
Comment[lv]=Aizsargāt savus attēlus
Comment[mjw]=Arjan kerai
Comment[ms]=Lindungi gambar anda
Comment[nb]=Beskytt bildene dine
Comment[ne]=तपाईँको तस्वीर सुरक्षित राख्नुहोस्
Comment[nl]=Bescherm uw foto’s
Comment[oc]=Protegir vòstres imatges
Comment[pa]=ਆਪਣੀਆਂ ਤਸਵੀਰਾਂ ਨੂੰ ਸੁਰੱਖਿਅਤ ਕਰੋ
Comment[pl]=Ochrona zdjęć
Comment[pt]=Proteja as suas fotos
Comment[pt_BR]=Proteja suas imagens
Comment[ro]=Protejați-vă fotografiile
Comment[ru]=Защитите ваши изображения
Comment[sk]=Ochráňte vaše obrázky
Comment[sl]=Zaščita slik in fotografij
Comment[sr]=Заштитите ваше слике
Comment[sv]=Skydda dina bilder
Comment[tr]=Fotoğraflarınızı koruyun
Comment[uk]=Захистіть ваші зображення
Comment[vi]=Bảo vệ các ảnh của bạn
Comment[zh_CN]=保护您的图片
Comment[zh_TW]=保護您的照片
Comment=Protect your pictures
Exec=gnome-control-center camera
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Settings-camera-symbolic
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=privacy
X-GNOME-Bugzilla-Version=43.5
# Translators: Search terms to find the Camera panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=камера;фота;відэа;вэб-камера;прыватнасць;асабістыя;канфідэнцыяльнасць;блакіраванне;блакаванне;
Keywords[bg]=камера;снимки;фотографии;видео;уебкамера;заключване;защита;лични;данни;camera;photos;video;webcam;lock;private;privacy;
Keywords[ca]=càmera;fotografies;vídeo;cam;bloqueig;privat;privadesa;
Keywords[cs]=kamera;fotky;fotografie;snímky;video;webová kamera;zámek;uzamknutí;uzamčení;zamknout;uzamknout;uzamčít;soukromí;
Keywords[da]=kamera;foto;billede;video;webcam;lås;privat;privatliv;
Keywords[de]=camera;photos;video;webcam;lock;private;privacy;Kamera;Fotos;Bilder;Video;Filme;Webcam;sperren;privat;Datenschutz;
Keywords[en_GB]=camera;photos;video;webcam;lock;private;privacy;
Keywords[es]=cámara;fotos;vídeo;webcam;web;bloqueo;privado;privacidad;
Keywords[eu]=kamera;argazkiak;bideoa;webkamera;blokeatu;pribatua;pribatutasuna;
Keywords[fa]=camera;photos;video;webcam;lock;private;privacy;دوربین;عکس;ویدیو;وبکم;قفل;شخصی;خصوصی;محرمانگی;حریم;
Keywords[fi]=camera;photos;video;webcam;lock;private;privacy;kamera;kuvat;lukitus;yksityisyys;tietosuoja;
Keywords[fr]=caméra;photos;vidéo;webcam;verrouillage;privé;vie privée;confidentialité;
Keywords[fur]=fotocjamare;fotos;video;webcam;videocjamare;bloche;privât;riservatece;privacy;
Keywords[gl]=cámara;fotos;vídeo;cámara web;bloquear;privado;privacidade;
Keywords[he]=מצלמה;תמונות;תמונה;וידאו;סרט;סרטון;סרטים;מצלמת רשת;מצלמת אינטרנט;נעילה;מנעול;פרטיות;פרטי;
Keywords[hr]=kamera;fotografije;video;web kamera;zaključaj;privatno;privatnost;
Keywords[hu]=kamera;fényképek;videó;webkamera;zárolás;személyes;adatvédelem;
Keywords[id]=kamera;foto;video;kamera web;kunci;pribadi;privasi;
Keywords[is]=myndavél;ljósmynd;myndskeið;vefmyndavél;læsing;gagnaleynd;friðhelgi;
Keywords[kk]=camera;photos;video;webcam;lock;private;privacy;камера;фото;видео;веб-камера;блоктау;жеке;жекелік;
Keywords[ko]=camera;카메라;photos;사진;video;비디오;webcam;웹캠;캠;lock;잠금;private;privacy;개인;정보;사생활;프라이버시;보호;
Keywords[lt]=kamera;fotoaparatas;vaizdo;įrašas;užrakinti;privatus;privatumas;
Keywords[lv]=kamera;fotogrāfijas;video;tīmekļa kamera;slēgt;privāts;privātums;
Keywords[ne]=क्यामेरा;फोटो;भिडियो;वेबक्याम;लक;निजी;गोपनीयता;
Keywords[nl]=camera;photos;video;webcam;lock;private;privacy;foto;video;vergrendel;privé;privacy;
Keywords[oc]=camèra;fòto;fotografia;vidèo;webcam;verrolh;barrar;privat;confidencialitat;
Keywords[pa]=ਕੈਮਰਾ;ਫੋਟੋ;ਫ਼ੋਟੋ;ਤਸਵੀਰ;ਵੀਡੀਓ;ਵਿਡੀਓ;ਵੈਬਕੈਮ;ਲਾਕ;ਤਾਲਾ;ਪਰਦੇਦਾਰੀ;ਪਰਾਈਵੇਸੀ;ਪ੍ਰਾਈਵੇਟ;ਨਿੱਜੀ;
Keywords[pl]=aparat;kamera;camera;zdjęcia;fotografie;filmy;wideo;video;webcam;kamerka;blokada;zablokuj;prywatne;prywatność;
Keywords[pt]=câmara;fotos;vídeo;webcam;bloquear;privado;privacidade;
Keywords[pt_BR]=câmera;fotos;vídeo;webcam;bloqueio;privado;privacidade;
Keywords[ru]=камера;фото;видео;веб-камера;блокировка;частное;конфиденциальность;
Keywords[sk]=kamera;fotoaparát;fotky;fotografie;video;webkamera;zámok;uzamknúť;súkromie;súkromný;súkromná;
Keywords[sl]=camera;photos;video;webcam;lock;private;privacy;kamera;slike;video;spletna kamera;zasebnost;posnetek;
Keywords[sr]=camera;photos;video;webcam;lock;private;privacy;камера;фотографије;видео;вебкам;закључавање;приватност;
Keywords[sv]=kamera;foton;video;webbkamera;lås;privat;sekretess;integritet;
Keywords[tr]=kamera;fotoğraflar;resimler;video;görüntü;webcam;web kamerası;webkam;kilitle;özel;gizlilik;
Keywords[uk]=camera;photos;video;webcam;lock;private;privacy;камера;фотоапарат;фото;фотографії;відео;вебкамера;блокування;конфіденційність;приватність;приватний;
Keywords[zh_CN]=camera;photos;video;webcam;lock;private;privacy;相机;摄像头;照片;视频;网络摄像头;锁定;私人;隐私;
Keywords[zh_TW]=camera;photos;video;webcam;lock;private;privacy;相機;照片;影片;網路攝影機;鎖定相機;隱私權;
Keywords=camera;photos;video;webcam;lock;private;privacy;
