[Desktop Entry]
Name[bs]=Unesi preko gThumb
Name[ca]=Importació amb el gThumb
Name[cs]=Import pomocí gThumb
Name[da]=Importér med gThumb
Name[de]=Mit gThumb importieren
Name[el]=Εισαγωγή με gThumb
Name[es]=Importar con gThumb
Name[eu]=Inportatu gThumb-ekin
Name[fi]=Tuo gThumb-kuvakatselimella
Name[fr]=Importer avec gThumb
Name[he]=ייבוא עם gThumb
Name[hr]=Ovezi sa gThumbom
Name[hu]=Importálás a gThumb programmal
Name[id]=Impor dengan gThumb
Name[is]=Flytja inn með gThumb
Name[it]=Importa con gThumb
Name[ja]=gThumb でインポート
Name[lt]=Importuoti su gThumb
Name[lv]=Importēt ar gThumb
Name[nl]=Met gThumb importeren
Name[pl]=Import za pomocą programu gThumb
Name[pt]=Importar com o gThumb
Name[pt_BR]=Importar com gThumb
Name[ro]=Importă cu gThumb
Name[ru]=Импортировать с помощью gThumb
Name[sl]=Uvozi s programom gThumb
Name[sr]=Увезите са Гномовим сличком
Name[sr@latin]=Uvezite sa Gnomovim sličkom
Name[sv]=Importera med gThumb
Name[tr]=GThumb ile İçeri Aktar
Name[uk]=Імпортувати за допомогою gThumb
Name[zh_CN]=使用 gThumb 导入
Name[zh_TW]=用 gThumb 匯入
Name=Import with gThumb
GenericName[bs]=Alatka za unos slika
GenericName[ca]=Eina d'importació de fotografies
GenericName[cs]=Nástroj pro import fotografií
GenericName[da]=Importværktøj til billeder
GenericName[de]=Werkzeug zum Importieren von Fotos
GenericName[el]=Εργαλείο εισαγωγής φωτογραφιών
GenericName[es]=Herramienta para importar fotos
GenericName[et]=Fotode importimise tööriist
GenericName[eu]=Argazkiak inportatzeko tresna
GenericName[fi]=Valokuvien tuontityökalu
GenericName[fr]=Outil d’importation de photos
GenericName[he]=כלי לייבא תמונות
GenericName[hr]=Alat uvoza fotografije
GenericName[hu]=Fénykép-importáló eszköz
GenericName[id]=Alat Impor Foto
GenericName[is]=Mynda-innflutnings-tól
GenericName[it]=Strumento di importazione foto
GenericName[ja]=写真を取り込むツール
GenericName[lt]=Fotografijų importavimo įrankis
GenericName[lv]=Fotogrāfiju importēšanas rīks
GenericName[nb]=Verktøy for import av bilder
GenericName[nds]=Billinfögenwarktüüg
GenericName[nl]=Hulpmiddel voor het importeren van foto’s
GenericName[pa]=ਫੋਟੋ ਇੰਪੋਰਟ ਟੂਲ
GenericName[pl]=Narzędzie do importu zdjęć
GenericName[pt]=Ferramenta de importação de fotografias
GenericName[pt_BR]=Ferramenta de importação de imagens
GenericName[ro]=Unealtă de importat fotografii
GenericName[ru]=Инструмент импорта фотографий
GenericName[sl]=Orodje za uvoz fotografij
GenericName[sr]=Алатка за увоз слика
GenericName[sr@latin]=Alatka za uvoz slika
GenericName[sv]=Importera foton
GenericName[th]=เครื่องมือนำเข้ารูปภาพ
GenericName[tr]=Fotoğraf İçe Aktarım Aracı
GenericName[uk]=Засіб імпорту фотознімків
GenericName[zh_CN]=相片导入工具
GenericName[zh_HK]=照片匯入工具
GenericName[zh_TW]=照片匯入工具
GenericName=Photo Import Tool
X-GNOME-FullName=gThumb Photo Import Tool
Comment[bs]=Uvezite slike na kartici vaše kamere
Comment[ca]=Importa les fotos de la targeta de la vostra càmera
Comment[cs]=Importujte fotografie z karty svého fotoaparátu
Comment[da]=Importer billederne på dit kamerakort
Comment[de]=Bilder von einer Digitalkamera importieren
Comment[el]=Εισαγωγή των φωτογραφιών από την κάρτα της μηχανής σας
Comment[es]=Importar las fotos de la tarjeta de su cámara
Comment[et]=Digikaamera mälukaardilt fotode importimine
Comment[eu]=Inportatu argazkiak kameraren txarteletik
Comment[fi]=Tuo valokuvia digitaalikamerasta
Comment[fr]=Importer les photos depuis la carte de votre appareil photo
Comment[he]=ייבוא התמונות מהמצלמה הדיגיטלית שלך
Comment[hr]=Uvezi fotografije iz digitalne kamere
Comment[hu]=Fényképek importálása a fényképezőgép kártyájáról
Comment[id]=Impor foto pada kartu kamera Anda
Comment[is]=Flytja inn myndir af minniskorti myndavélar
Comment[it]=Importa le foto dalla scheda della fotocamera
Comment[ja]=お使いのカメラや IC メモリにある写真を取り込みます
Comment[lt]=Importuoti fotografijas iš skaitmeninio fotoaparato
Comment[lv]=Importēt fotogrāfijas no fotokameras kartes
Comment[nb]=Importer bilder fra ditt kamera
Comment[nl]=De foto’s op de geheugenkaart van uw camera importeren
Comment[pa]=ਡਿਜ਼ੀਟਲ ਕੈਮਰਾ ਕਾਰਡ ਤੋਂ ਫੋਟੋ ਇੰਪੋਰਟ ਕਰੋ
Comment[pl]=Import fotografii z aparatu cyfrowego
Comment[pt]=Importar fotografias de uma câmara digital
Comment[pt_BR]=Importe fotos do cartão da sua câmera
Comment[ro]=Importă fotografiile de pe cardul camerei
Comment[ru]=Импортировать фотографии с цифровой камеры
Comment[sl]=Uvozi fotografij s kartice digitalnega fotoaparata
Comment[sr]=Увези слике из картице фотоапарата
Comment[sr@latin]=Uvezi slike iz kartice fotoaparata
Comment[sv]=Importera foton från din digitalkamera
Comment[th]=นำเข้ารูปภาพจากการ์ดในกล้องของคุณ
Comment[tr]=Kamera kartınızdaki fotoğrafları içeri aktar
Comment[uk]=Імпорт фотознімків з цифрового фотоапарату
Comment[zh_CN]=由数码照相机导入相片
Comment[zh_HK]=從你的數碼相機記憶卡匯入照片
Comment[zh_TW]=從您的數位相機記憶卡匯入照片
Comment=Import the photos on your camera card
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=gthumb --import-photos %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.gThumb
MimeType=x-content/image-dcf;x-content/image-picturecd;
NoDisplay=true
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gthumb
X-GNOME-Bugzilla-Component=general
X-GNOME-DocPath=gthumb/gthumb.xml
X-GNOME-Bugzilla-Version=3.12.2
