[Desktop Entry]
Name[ca]=Microprogramari
Name[da]=Firmware
Name[de]=Firmware
Name[es]=Firmware
Name[eu]=Firmwarea
Name[fi]=Laiteohjelmisto
Name[fr_FR]=Micrologiciel
Name[hr]=Firmver
Name[id]=Perangkat Tegar
Name[ka]=მიკროკოდი
Name[nl]=Firmware
Name[pa]=ਫਿਰਮਵੇਅਰ
Name[pl]=Oprogramowanie sprzętowe
Name[pt_BR]=Firmware
Name[ru]=Прошивка
Name[sl]=Strojna programska oprema
Name[sr]=Уградни програм
Name[sv]=Firmware
Name[uk]=Мікропрограма
Name[zh_CN]=固件
Name=Firmware
Comment[ca]=Instal·la microprogramari als dispositius
Comment[da]=Installér firmware på enheder
Comment[de]=Firmware auf Geräten installieren
Comment[cs]=Instalace firmware na zařízení
Comment[es]=Instalar firmware en dispositivos
Comment[eu]=Instalatu firmwarea gailuetan
Comment[fi]=Asenna firmware-laiteohjelmistoja laitteille
Comment[fr_FR]=Installer un micrologiciel sur des appareils
Comment[hr]=Instalirajte firmvere na uređajima
Comment[id]=Pasang perangkat tegar pada perangkat
Comment[it]=Installa firmware su dispositivi
Comment[ka]=მოწყობილობებზე მიკროკოდის დაყენება
Comment[nl]=Firmware op apparaten installeren
Comment[pa]=ਡਿਵਾਈਸਾਂ ਉੱਤੇ ਫਿਰਮਵੇਅਰ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Instalacja oprogramowania sprzętowego na urządzeniach
Comment[pt_BR]=Instale firmware em dispositivos
Comment[ru]=Установить прошивку на устройство
Comment[sl]=Namestitev strojne programske opreme na naprave
Comment[sr]=Инсталирајте уграђене програме на уређајима
Comment[sv]=Installera fast programvara på enheter
Comment[tr]=Ürün yazılımını aygıtlara kur
Comment[uk]=Встановлення мікропрограм на пристрої
Comment[zh_CN]=在设备上安装固件
Comment=Install firmware on devices
# TRANSLATORS: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Firmware
Exec=gnome-firmware
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
# TRANSLATORS: these are desktop keywords - remember the trailing ';' :)
Keywords[ca]=Microprogramari;
Keywords[da]=Firmware;
Keywords[de]=Firmware;
Keywords[es]=Firmware;
Keywords[eu]=Firmwarea;
Keywords[fi]=Firmware;laiteohjelmisto;
Keywords[fr_FR]=Firmware;Micrologiciel;Mise à jour;
Keywords[hr]=Firmver;
Keywords[id]=Perangkat Tegar;
Keywords[ka]=მიკროკოდი;
Keywords[nl]=Firmware;
Keywords[pa]=ਫਿਰਮਵੇਅਰ;
Keywords[pl]=Oprogramowanie sprzętowe;Firmware;Firmłer;
Keywords[pt_BR]=Firmware;
Keywords[ru]=Firmware;Прошивка;
Keywords[sl]=Strojna programska oprema;firmware;posodobitev;
Keywords[sr]=фирмвер;уграђени програм;Firmware;
Keywords[sv]=Firmware;Fast programvara;
Keywords[uk]=Firmware;мікропрограма;
Keywords[zh_CN]=Firmware;固件;
Keywords=Firmware;
StartupNotify=true
NoDisplay=false
X-Purism-FormFactor=Workstation;Mobile;
