*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background: #000;
    color: #fff;
    font-family: 'Inter';
}
.logo img{
    width: 12vw;
    display: block;
}
.menu-icon{
    position: fixed;
    bottom: 3vw;
    right: 2vw;
    width: 10vw;
    height: 10vw;
    padding: 2vw;
    font-size: 7vw;
    line-height: 120%;
    color: #fff;
    background: #111;
    text-decoration: none;
    border-radius: 100%;
    text-align: center;
}
/* home */
.logo img{
    padding: 5vw 10vw 30vw 5vw;
}

#home .intro{
    padding: 10vw 10vw 10vw 10vw;
}
.intro pre{
    font-size: 2.5vw;
    letter-spacing: .3vw;
}
.intro small{
    /* font-size: 3vw; */
}
.intro{
    padding: 10vw;
}
h1{
    font-size: 6vw;
    line-height: 100%;
    padding: 1vw 0;
    /* font-weight: normal; */
}
ul{
    list-style: none;
    padding: 10vw 10vw;
}
ul li{
    padding: 5vw 0;
    font-size: 4vw;
}
h2{
    font-size: 8vw;
    color: #fff;
    padding: 1vw 0;
}
a{
    display: block;
    text-decoration: none;
    color: #999;
}

/* project */
#project .logo img{
    /* padding: 10vw 10vw 25vw 10vw; */
}
#project h1{
    font-size: 6vw;
    font-weight: bold;
    padding: 1vw 0;
}
#project .intro pre{
    font-size: 3vw;
}
#project h2{
    font-size: 8vw;
    line-height: 120%;
}
#project .intro{
    padding: 10vw;
}
video, picture, img, iframe{
    width: 100%;
}
iframe{
    height: 50vw;
}
.tit{
    padding: 0vw 10vw;
}
.txt{
    padding: 10vw 10vw 10vw 10vw;
}
#info .txt:first-child{
    padding: 10vw 10vw 0 10vw;
}
#process {
    /* background: #111; */
}
#process .txt:first-child{
    padding: 10vw 10vw 0vw 10vw;
}
.txt a{
    font-size: .8em;
    line-height: 150%;
}
h3{
    font-size: 9vw;
    padding: 5vw 0;
}
pre, small, figcaption{
    font-size: 3vw;
    line-height: 150%;
    color: #999;
    padding: 2vw 0;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-family: 'Roboto Mono',monospace;
}
small{
}
figcaption{
    text-align: center;
}
p{
    font-size: 4vw;
    line-height: 150%;
    padding: 5vw 0 0 0;
}
.gallery{
    padding: 0 5vw 0 5vw;
}
.gallery video, .gallery iframe, .gallery img{
    padding: 5vw 0 0 0;
}
.quote{
    padding: 10vw 10vw 20vw 10vw;
}
.next-project{
    padding: 10vw 10vw;
    margin: 0 0 20vw 0;
    /* background: #111; */
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);

}
.next-project a{
    /* padding: 5vw 0; */
}
.next-project pre{
    line-height: 150%;
    color: #000;
    background: #fff;
    display: block;
    padding: 0;
    margin: 0 0 5vw 0;
    width: 44vw;
    text-align: center;
}
.next-project h6{
    font-size: 9vw;
    color: #fff;
}
.next-project small{
    /* padding: 0 0 10vw 0; */
    /* border-bottom: 1px solid rgba(255,255,255,.1); */
}
/* contact */
#contact ul a{
    color: #fff;
    font-family: monospace;

}
/* footer */
footer{
    color: #999;
    font-size: .7em;
    padding: 20vw 10vw 10vw 10vw;
    /* font-family: monospace; */
}


/* media queries */

/* mobile */
@media screen and (max-width: 767px) {
    body{
        background: #000;
    }
    i{
        opacity: 0;
    }
}

/* desktop */
@media all and (min-width: 1136px) and (max-width: 1920px) {
    body{
        background: #000;
    }
    #home .logo img, #project .logo img{
        width: 3vw; 
        padding: 2vw 10vw 0vw 2vw;
        position: fixed;
    }
    .menu-icon{
        font-size: 1.8vw;
        width: 1vw;
        height: 1vw;
        padding: 1vw;
        line-height: 40%;
        right: 2vw;
        top: 2vw;
    }
    pre, small, figcaption{
        font-size: .8vw;
        letter-spacing: .3vw;
        padding: 0;
    }
    h1{
        font-size: 3vw;
        padding: 2vw 0;
    }
    #home .txt{
        /* padding: 4vw 10vw 4vw 10vw; */
    }
    .intro pre{
        font-size: .5vw;
        letter-spacing: .2vw;
        color: #666;
    }
    .intro small{
        font-size: .7vw;
        letter-spacing: .3vw;
    }
    #home ul{
        padding: 0 10vw 10vw 10vw;
    }
    .intro{
        /* padding: 5vw 10vw 10vw 10vw; */
    }
    ul li h2:hover{
        color: aqua;
    }
    i{
        font-style: normal;
    }
    ul{
        padding: 10vw;
    }
    ul li{
        padding: 3vw 0;
        font-size: 1vw;
    }
    #contact ul{
        padding: 0vw 10vw;
    }
    #contact ul li{
        padding: 1vw 0;
    }
    #contact a:hover{
        color: aqua;
    }
    footer {
        padding: 15vw 10vw 4vw 10vw;
    }
    #project h1{
        font-size: 2vw;
    }
    

}

/* tablet */
@media all and (min-width: 768px) and (max-width: 1024px) {
    body{
        background: #00f;
    }
}

/* landscape */   
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    body{
        background: #ff0;
    }
}