*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background: #000;
    color: #fff;
    font-family: 'Inter';
}
.logo img{
    width: 12vw;
    display: block;
}
.menu-icon{
    position: fixed;
    bottom: 0vw;
    right: 0vw;
    width: 10vw;
    height: 10vw;
    padding: 0vw;
    font-size: 7vw;
    line-height: 140%;
    color: #fff;
    background: #f00;
    text-decoration: none;
    /* border-radius: 100%; */
    text-align: center;
}

/* home */
#home .logo img{
    padding: 10vw 10vw 30vw 10vw;
}
#home .txt{
    padding: 10vw 10vw 10vw 10vw;
}
#home .txt pre{
    font-size: 2.5vw;
}
#home .txt small{
    font-size: 3vw;
}
h1{
    font-size: 6vw;
    line-height: 100%;
    padding: 1vw 0;
    font-weight: normal;
}
ul{
    list-style: none;
    padding: 20vw 10vw;
}
ul li{
    padding: 5vw 0;
    font-size: 1em;
}
h2{
    font-size: 8vw;
    color: #fff;
}
a{
    display: block;
    text-decoration: none;
    color: #999;
}
a:hover{
    color: #fff;
}

/* project */

#project .logo img{
    padding: 10vw 10vw 30vw 10vw;
}
#project h1{
    font-size: 6vw;
    font-weight: bold;
}
#project h2{
    font-size: 9vw;
}
video, picture, img, iframe{
    width: 100%;
}
iframe{
    height: 50vw;
}
.tit{
    padding: 0vw 10vw;
}
.txt{
    padding: 10vw 10vw 10vw 10vw;
}
#info .txt:first-child{
    padding: 10vw 10vw 0 10vw;
}
.txt a{
    line-height: 150%;
}
h3{
    font-size: 9vw;
    padding: 5vw 0;
}
pre, small, figcaption{
    font-size: 3vw;
    line-height: 150%;
    color: #999;
    padding: 2vw 0;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-family: 'Roboto Mono',monospace;
}
small{
}
figcaption{
    text-align: center;
}
p{
    font-size: 4vw;
    line-height: 150%;
    padding: 5vw 0 0 0;
}
.gallery{
    padding: 0 5vw 0 5vw;
}
.gallery video, .gallery iframe, .gallery img{
    padding: 5vw 0 0 0;
}
.quote{
    padding: 10vw 15vw 30vw 15vw;
}
.next-project{
    padding: 10vw 10vw;
    margin: 0 0 20vw 0;
    /* background: #111; */
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);

}
.next-project a{
    /* padding: 5vw 0; */
}
.next-project pre{
    line-height: 150%;
    color: #000;
    background: #fff;
    display: block;
    padding: 0;
    margin: 0 0 5vw 0;
    width: 44vw;
    text-align: center;
}
.next-project h6{
    font-size: 9vw;
    color: #fff;
}
.next-project small{
    /* padding: 0 0 10vw 0; */
    /* border-bottom: 1px solid rgba(255,255,255,.1); */
}

/* contact */

#contact ul a{
    color: #fff;
}

/* footer */

footer{
    color: #999;
    font-size: .7em;
    padding: 30vw 10vw 10vw 10vw;
    /* font-family: monospace; */
}


/* media queries */

/* mobile */
@media screen and (max-width: 767px) {
    body{
        background: #000;
    }
    i{
        opacity: 0;
    }
}

/* desktop */
@media all and (min-width: 1136px) and (max-width: 1920px) {
    body{
        background: #222;
    }
}

/* tablet */
@media all and (min-width: 768px) and (max-width: 1024px) {
    body{
        background: #00f;
    }
}

/* landscape */   
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    body{
        background: #ff0;
    }
}