*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    animation: fadeInAnimation ease 1s ;
    animation-iteration-count: 1; 
    animation-fill-mode: both;
}
html{
  scroll-behavior: smooth;
  background: #000;
}
body{
    font-family: monospace;
    
}
@keyframes fadeInAnimation{ 
    0%{ 
        opacity: 0; 
        /* margin-top: 10vw; */
    } 
    100%{ 
        opacity: 1; 
        /* margin-top: 0vw; */
    } 
  }
header{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
}
header .foto-perfil img{
    width: 10vw;
    height: 10vw;
    display: block;
    position: absolute;
    top: 5vw;
    left: 5vw;
}
header .menu{
    font-size: 7vw;
    top: 4vw;
    right: 3vw;
    text-decoration: none;
    position: absolute;
    color: rgba(201, 201, 201, 0.8);
    padding: 2vw 3vw;
    display: block;
    line-height: 100%;
}
h1,h2,h3,h4,h5,h6,p{
    font-size: 4vw;
    font-weight: normal;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
    /* padding: 2vw 0; */
}
span{
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: .5vw;
    color: rgba(255, 255, 255, 0.7);
    display: block;
}
a{
    text-decoration: none;
    display: block;
}
img, video, iframe{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 1vw;  
}
.content iframe{
  height: 33vh;
}
.content{
    padding: 0 10vw;
}
.tit-sec{
  position: absolute;
  top: 8vw;
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  z-index: 9999;
}
.txt{
    padding: 3vw 0;
}
.txt:last-child{
  /* padding: 0; */
}
.txt h2{
    /* padding: 3vw 0; */
}
.txt h3{
  padding: 3vw 0;
  font-family: inter;
  font-size: 10vw;
}
span.tit{
    padding: 0 0 5vw 0;
}
p.tit{
    padding: 0 0 10vw 0;
}
blockquote{
  font-size: 6vw;
  color: #fff;
  padding: 10vw;
  line-height: 150%;
}
.txt-video{
  padding: 5vw 0 0 0;
}
.txt-desc{
  text-align: center;
  padding: 5vw 0 0 0;
}
.txt-video p{
  color: rgba(255,255,255,.5);
  font-size: 3.5vw;
}
.content ul{

}
.content ul li{
  padding: 3vw 0;
  border-bottom: 1px solid rgba(150,150,150,.2);
}
#experience li, ul.tools li{
  float: left;
  width: 35vw;
  margin: 0 0 0 5vw;
}
.tnks span{
  font-size: 10vw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 0 0 5vw 0;
}
.tnks h6{
  font-size: 4vw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-weight: normal;
}
.txt-right{
  padding: 5vw 0;
}
.txt-right span{
  padding: 1vw 0;
  line-height: 200%;
}
.txt img{
  padding: 5vw 0;
}


#about{
}
#about h1{
  opacity: 0;
  font-size: 3vw;
}

#projects{
  
}

/*  */
#process{
}
#process .txt:last-child span:last-child{
  text-align: center;
}
/*  */
#experience{
}
/*  */
#contact{
}
/*  */
#menu{
}




.mission-bg-01{
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)80%, rgba(0, 0, 0, 0.5)200%), url(../img/missao-genese/missao-genese_emerson-almeida-ux-ui-produxt-designer_combate-capa_desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mission-bg-02{
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)80%, rgba(0, 0, 0, 0.7)200%), url(../img/missao-genese/missao-genese_emerson-almeida-ux-ui-produxt-designer_capa_desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mission-bg-03{
  background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9)80%, rgba(0, 0, 0, 0.9)200%), url(../img/missao-genese/missao-genese_emerson-almeida-ux-ui-produxt-designer_04_desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.oi-controle-bg-01{
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)80%, rgba(0, 0, 0, 0.5)200%), url(../img/oi-controle/controle_emerson-almeida-ux-ui-produxt-designer_cover-intern_desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.arkave-bg-01{
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)80%, rgba(0, 0, 0, 0.5)200%), url(../img/arkave/arkave_logo_design_emerson-almeida-ux-ui-product-branding-designer_construcao_02_desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.dunker-bg-01{
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)80%, rgba(0, 0, 0, 0.5)200%), url(../img/dunker/dunker_emerson-almeida-ux-ui-product-designer_img-01_mob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nyte-bg-01{
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)80%, rgba(0, 0, 0, 0.7)200%), url(../img/nyte/nyte_emerson-almeida-ux-ui-product-designer_img-01_mob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.technos-bg-01{
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)80%, rgba(0, 0, 0, 0.5)200%), url(../img/technos/technos_emerson-almeida-ux-ui-produxt-designer_img-01_desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}








/* desktop */
@media screen and (min-width: 1136px) {
  #fp-nav.fp-right {
    top: 50vh;
    right: 1.5vw;
  }
  body{
  }
  /* header */
  header .foto-perfil img {
    width: 2.5vw;
    height: 2.5vw;
    top: 2vw;
    left: 2vw;
    transition: .5s;
  }
  header .foto-perfil img:hover, header .menu:hover {
    transform: scale(1.2);
  }
  header .menu {
    top: 1.5vw;
    right: 1vw;
    font-size: 1.5vw;
      padding: .5vw 1vw;
    transition: .5s;
  }
  img, video, iframe{
    border-radius: 0;
  }
  h1,h2,h3,h4,h5,h6{
    font-size: 1vw;
    /* padding: .5vw 0; */
    font-weight: normal;
    line-height: 150%;
  }
  p{
    font-size: .8vw;
    padding: .5vw 0;
    font-weight: normal;
  }
  span {
    font-size: .6vw;
    text-transform: uppercase;
    letter-spacing: .1vw;
    color: rgba(255, 255, 255, 0.7);
    display: block;
  }
  .tit-sec {
    position: absolute;
    top: 2.5vw;
    text-align: center;
    margin: 0 auto;
    width: 100vw;
    z-index: 9999;
    font-size: .6vw;
    color: rgba(255, 255, 255, 0.5);
  }
  #about .txt{
    transition: 1s;
  }
  #about h1{
    font-size: 1px;
  }
  #about .content{
    padding: 0 33vw;
  }
  #about .content h2{
    font-size: 1vw;
    line-height: 200%;
    font-weight: normal;
  }
  #about .content p{
    font-size: 1vw;
  }
  #about .txt{
    transform: scale(1);
  }
  #about .txt:hover{
    /* transform: scale(1.2); */
  }
  .content{
    padding: 0 15vw;
  }
  .txt {
    padding: 0vw 0 2vw 0;
  }
  #experience li, ul.tools li {
    width: 12vw;
    margin: 0 0 0 5vw;
  }
  #process img{
    transform: scale(.5);
    width: auto;
  }
  .content ul li {
    padding:  1.5vw 0 2vw 0;
    border-bottom: 1px solid rgba(150,150,150,.2);
  }
  #projects h3{
    font-size: 1vw;
    padding: .3vw 0 .3vw 0;
  }
  #hero .content{
    padding: 0 15vw;
  }
  #hero .txt h1{
    font-family: inter;
    font-size: 3vw;
    line-height: 150%;
    text-align: center;
  }
  #hero .txt span{
    text-align: center;
    font-size: .8vw;
    letter-spacing: .5vw;
  }
  .scroll-down{
    position: absolute;
    bottom: 2.5vw;
    text-align: center;
    margin: 0 auto;
    width: 100vw;
    z-index: 9999;
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.5);
  }
  #about .scroll-down{
    width: 33vw;
  }
  .txt h2{
    /* padding: 1vw 0; */
    font-size: 1vw;
    line-height: 200%;
    /* font-weight: bold; */
  }
  #hero h1{
    font-size: .8vw;
    padding: .3vw 0;
  }
  .txt img{
    padding: 1vw 0;
  }  
  .content iframe{
    height: 75vh;
    transition: 1s;
    /* transform: scale(.9); */
  }
  iframe:hover{
    /* transform: scale(1.1); */
  }
  .txt-desc {
    padding: 0vw 0 0 0;
  }

  /*  */
  #projects a.slide{
    transition: 1s;
    transform: scale(.7);
    border-radius: 0;
  }
  #projects a.slide:hover{
    transform: scale(1);
    border-radius: 0;
  }
  #projects .txt{
    transition: 1s;
    transform: scale(2);
    margin-left: 20vw;
  }
  #projects a.slide:hover .txt{
    /* transform: scale(2); */
    margin-left: 23vw;
  }
  .txt-right{
    text-align: right;
    float: right;
    margin: -10vw -5vw -10vw 0px;
    transition: 1s;
    transform: scale(1.5);
  }
  
  #projects a.slide:hover .txt-right {
    /* transform: scale(2); */
    margin-right: -0vw;
  }
  .sec-txt .content{
    padding: 0 33vw;
  }
  .sec-txt span{
    padding: 0 0 0vw 0;
  }
  .sec-txt p{
    font-size: 1vw;
    padding: 0 0 0vw 0;
    line-height: 200%;
  }
  blockquote{
    font-size: 3vw;
  }
  #gallery .slide img{
    /* transform: scale(.9); */
    transition: 1s;
  }
  #gallery .slide img:hover{
    /* transform: scale(1); */
  }
  .sec-bg{
    transform: scale(.8);
    transition: 1s;
  }
  .sec-bg:hover{
    transform: scale(1);
  }
  .sec-bg .txt{
    transform: scale(1.5);
    margin-left: 10vw;
    padding: 2vw 0;
  }
    
  .tnks span{
    font-size: 5vw;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 0 0 1vw 0;
  }
  .tnks h6{
    font-size: 4vw;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
  }
  .fp-slidesNav.fp-bottom {
    bottom: 4vh;
  }
  #contact .content, #menu .content{
    padding: 0 33vw;
  }
  .content li{
    transition: .5s;
    opacity: .5;
  }
  .content li:hover{
    opacity: 1;
  }
}






    
/* mobile */
@media screen and (max-width: 1024px) {
    /* nav icons */
    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next, #fp-nav.fp-right, nav .arrow-up {
    display: none;
    }
    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next{
    display: none;
    }
    .txt-right{
      display: none;
    }

}


/* landscape */   
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    #fp-nav.fp-right {
    top: 82vh;
    }
}

/* nav icons */
.fp-slidesNav ul li{
    width: 8px;
  }
  #fp-nav ul li a span, .fp-slidesNav ul li a span {
      background: rgba(255, 255, 255, 0.5);
    }
    #fp-nav ul li a.active span {
      height: 8px;
      width: 8px;
      margin: -6px 0 0 -4px;
    }
    .slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
      height: 4px;
      width: 4px;
      margin: -4px 0 0 -4px;
      border-radius: 100%;
    }
    .fp-slidesNav ul li a.active span{
      height: 8px;
      width: 8px;
      margin: -4px 0 0 -4px;
      border-radius: 100%;
      
    }    
    .fp-slidesNav ul{
      text-align: center;
    }
    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
      margin: -1vh 0 0 0;
      padding: 0 1.5vw;
    }
    .fp-controlArrow.fp-prev {
      left: 0vw;
      border-width: 1vw 1vw 1vw 0;
      border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
      transition: .5s;
      transform: scale(.7);
    }
    .fp-controlArrow.fp-prev:hover{
      transition: .5s;
      transform: scale(1);
      border-color: transparent rgb(255, 255, 255);
    }
    .fp-controlArrow.fp-next {
      right: 0vw;
      border-width: 1vw 0 1vw 1vw;
      border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
      transition: .5s;
      transform: scale(.7);
    }
    .fp-controlArrow.fp-next:hover{
      transition: .5s;
      transform: scale(1);
      border-color: transparent rgb(255, 255, 255);
  
    }
    #fp-nav ul li .fp-tooltip {
      color:rgba(150,150,150,1);
    }