#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Whimsical
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=aefeiggpkcfffkkcfndjgkiefnpmnbio
Icon=chrome-aefeiggpkcfffkkcfndjgkiefnpmnbio-Default
StartupWMClass=crx_aefeiggpkcfffkkcfndjgkiefnpmnbio
