#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Softr Studio
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=afanialaifjlapiofggjkboboiojfmam
Icon=chrome-afanialaifjlapiofggjkboboiojfmam-Default
StartupWMClass=crx_afanialaifjlapiofggjkboboiojfmam
