#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Quant-UX
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=dhcmooppfhmmjhoegkhoimbpfgmehcje
Icon=chrome-dhcmooppfhmmjhoegkhoimbpfgmehcje-Default
StartupWMClass=crx_dhcmooppfhmmjhoegkhoimbpfgmehcje
