#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Visus - Personal AI
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=onhhjkkaeogadfohdofpmljbmakdniba
Icon=chrome-onhhjkkaeogadfohdofpmljbmakdniba-Default
StartupWMClass=crx_onhhjkkaeogadfohdofpmljbmakdniba
